<div [clrLoading]="loading">
    <clr-stack-view *ngIf="currentVmTemplate; else noContent">
        <clr-stack-block>
            <clr-stack-label>Basic Information</clr-stack-label>
            <clr-stack-block>
                <clr-stack-label class="stackbox-header">Option</clr-stack-label>
                <clr-stack-content class="stackbox-header">Value</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Name</clr-stack-label>
                <clr-stack-content>{{ currentVmTemplate.name }}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Image</clr-stack-label>
                <clr-stack-content>{{ currentVmTemplate.image }}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block *ngIf="currentVmTemplate.config_map && !isEmpty(currentVmTemplate.config_map)">
            <clr-stack-label>Config Map</clr-stack-label>
            <clr-stack-block>
                <clr-stack-label class="stackbox-header">Key</clr-stack-label>
                <clr-stack-content class="stackbox-header">Value</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block *ngFor="let item of currentVmTemplate.config_map | keyvalue">
                <clr-stack-label>{{ item.key }}</clr-stack-label>
                <clr-stack-content>{{ item.value }}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-view>
    <ng-template #noContent>
        <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
            <clr-alert-item>
                <span class="alert-text">
                    No content available!
                </span>
            </clr-alert-item>
        </clr-alert>
    </ng-template>
</div>