<div [clrLoading]="loading">
  @if (currentVmTemplate) {
    <clr-stack-view>
      <clr-stack-block>
        <clr-stack-label>Basic Information</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label class="stackbox-header">Option</clr-stack-label>
          <clr-stack-content class="stackbox-header">Value</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Name</clr-stack-label>
          <clr-stack-content>{{ currentVmTemplate.name }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Image</clr-stack-label>
          <clr-stack-content>{{ currentVmTemplate.image }}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>Cost</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label class="stackbox-header">Option</clr-stack-label>
          <clr-stack-content class="stackbox-header">Value</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Base Price</clr-stack-label>
          <clr-stack-content>
            {{ currentVmTemplate.cost_base_price ? currentVmTemplate.cost_base_price : 'None' }}
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Time Unit</clr-stack-label>
          {{ currentVmTemplate.cost_time_unit ? currentVmTemplate.cost_time_unit : 'None' }}
        </clr-stack-block>
      </clr-stack-block>
      @if (
        currentVmTemplate.config_map && !isEmpty(currentVmTemplate.config_map)
      ) {
        <clr-stack-block>
          <clr-stack-label>Config Map</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label class="stackbox-header">Key</clr-stack-label>
            <clr-stack-content class="stackbox-header">Value</clr-stack-content>
          </clr-stack-block>
          @for (item of configMap | keyvalue; track item) {
            <clr-stack-block>
              <clr-stack-label>{{ item.key }}</clr-stack-label>
              <clr-stack-content>{{ item.value }}</clr-stack-content>
            </clr-stack-block>
          }
        </clr-stack-block>
      }
      <!-- Webinterfaces -->
      @if (!(webinterfaces.length > 0)) {
        <clr-stack-block>
          <clr-stack-label>Services</clr-stack-label>
          <clr-stack-content>None</clr-stack-content>
        </clr-stack-block>
      } @else {
        <clr-accordion style="margin-bottom: 0">
          <clr-accordion-panel>
            <clr-accordion-title>Services</clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>
              <div style="margin: 1rem">
                <table class="table table-compact">
                  <th>Name</th>
                  <th>Port</th>
                  <th>Tab</th>
                  <tbody>
                    @for (webinterface of webinterfaces; track webinterface) {
                      <tr>
                        <td>{{ webinterface.name }}</td>
                        <td>
                          {{
                            webinterface.hasWebinterface
                              ? webinterface.port
                              : "-"
                          }}
                        </td>
                        <td>
                          {{
                            webinterface.hasOwnTab
                              ? webinterface.hasOwnTab
                              : "-"
                          }}
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </clr-accordion-content>
          </clr-accordion-panel>
        </clr-accordion>
      }
      <!-- Cloud-Init -->
      @if (cloudConfigData == "No Cloud Config defined") {
        <clr-stack-block>
          <clr-stack-label>Cloud-Init</clr-stack-label>
          <clr-stack-content>None</clr-stack-content>
        </clr-stack-block>
      } @else {
        <clr-accordion style="margin-bottom: 0">
          <clr-accordion-panel>
            <clr-accordion-title>Cloud-Init</clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>
              <div style="margin: 1rem">
                <markdown
                  [data]="cloudConfigData | language: 'yaml'"
                ></markdown>
              </div>
            </clr-accordion-content>
          </clr-accordion-panel>
        </clr-accordion>
      }
    </clr-stack-view>
  } @else {
    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text"> No content available! </span>
      </clr-alert-item>
    </clr-alert>
  }
</div>
