<div [clrLoading]="loading">
    <clr-stack-view *ngIf="currentVmTemplate; else noContent">
        <clr-stack-block>
            <clr-stack-label>Basic Information</clr-stack-label>
            <clr-stack-block>
                <clr-stack-label class="stackbox-header">Option</clr-stack-label>
                <clr-stack-content class="stackbox-header">Value</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Name</clr-stack-label>
                <clr-stack-content>{{ currentVmTemplate.name }}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block>
                <clr-stack-label>Image</clr-stack-label>
                <clr-stack-content>{{ currentVmTemplate.image }}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
        <clr-stack-block *ngIf="currentVmTemplate.config_map && !isEmpty(currentVmTemplate.config_map)">
            <clr-stack-label>Config Map</clr-stack-label>
            <clr-stack-block>
                <clr-stack-label class="stackbox-header">Key</clr-stack-label>
                <clr-stack-content class="stackbox-header">Value</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block *ngFor="let item of configMap | keyvalue" >                
                <clr-stack-label>{{ item.key }}</clr-stack-label>                
                <clr-stack-content>{{ item.value }}</clr-stack-content>                
            </clr-stack-block>
        </clr-stack-block>

        <!-- Webinterfaces -->
        <clr-stack-block>
            <clr-stack-label>Services</clr-stack-label>
                <clr-stack-content *ngIf="!(webinterfaces.length > 0)">None</clr-stack-content>   
            <clr-stack-block *ngIf="webinterfaces.length > 0">
                <clr-stack-label class="stackbox-header">Services and Webinterfaces</clr-stack-label>
                <table class="table table-compact">
                    <th>Name</th>
                    <th>Port</th>
                    <th>Tab</th>
                    <tbody>
                        <tr *ngFor="let webinterface of webinterfaces">
                            <td>{{ webinterface.name }}</td>
                            <td>
                                {{ webinterface.hasWebinterface ? webinterface.port : "-" }}
                            </td>
                            <td>{{ webinterface.hasOwnTab ? webinterface.hasOwnTab : "-" }}</td>
                        </tr>
                    </tbody>
                </table>
            </clr-stack-block>
            
        </clr-stack-block>

        <!-- Cloud-Init -->
        <clr-stack-block>
            <clr-stack-label>Cloud-Init</clr-stack-label>
            <clr-stack-content *ngIf="cloudConfigData == 'No Cloud Config defined'">None</clr-stack-content>      
            <clr-stack-block *ngIf="cloudConfigData != 'No Cloud Config defined'">
                <clr-stack-label>cloud-config</clr-stack-label>
                <clr-stack-content>
                    <markdown [data]="cloudConfigData | language: 'yaml'"></markdown>
                </clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>


    </clr-stack-view>
    <ng-template #noContent>
        <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
            <clr-alert-item>
                <span class="alert-text">
                    No content available!
                </span>
            </clr-alert-item>
        </clr-alert>
    </ng-template>
</div>