<div class="main-container">
    <header class="header header-7" app-header></header>
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="javascript://" [routerLink]="['scenarios']" [routerLinkActive]="'active'" class="nav-link">
                    Scenarios
                </a>
                <a href="javascript://" [routerLink]="['courses']" [routerLinkActive]="'active'" class="nav-link">
                    Courses
                </a>
            </section>
        </nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>