<clr-modal #modal>
  <h3 class="modal-title">Delete Information</h3>
  <div class="modal-body">
    <ul>
      <li *ngFor="let info of deleteInfo" class="info-li">
        <span *ngIf="info.deleted">
          <cds-icon shape="success-standard" status="success" solid></cds-icon>
          {{ info.user.email }} - {{ info.message }}
        </span>
        <span *ngIf="!info.deleted">
          <cds-icon shape="error-standard" status="danger" solid></cds-icon>
          {{ info.user.email }} - {{ info.message }}
        </span>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <div *ngIf="selectedUsers.length != deletedUsers">
      <span class="spinner spinner-inline"> Deleting Users... </span>
      <span> Deleting Users... </span>
    </div>
    <button
      class="btn btn-success-outline"
      *ngIf="selectedUsers.length == deletedUsers"
      (click)="deleteDone()"
    >
      Done
    </button>
  </div>
</clr-modal>
