<clr-modal #modal>
  <h3 class="modal-title">Delete Information</h3>
  <div class="modal-body">
    <ul>
      @for (info of deleteInfo; track info) {
        <li class="info-li">
          @if (info.deleted) {
            <span>
              <cds-icon
                shape="success-standard"
                status="success"
                solid
              ></cds-icon>
              {{ info.user.email }} - {{ info.message }}
            </span>
          }
          @if (!info.deleted) {
            <span>
              <cds-icon shape="error-standard" status="danger" solid></cds-icon>
              {{ info.user.email }} - {{ info.message }}
            </span>
          }
        </li>
      }
    </ul>
  </div>
  <div class="modal-footer">
    @if (initialUsers != deletedUsers) {
      <div>
        <span class="spinner spinner-inline"> Deleting Users... </span>
        <span> Deleting Users... </span>
      </div>
    }
    @if (initialUsers == deletedUsers) {
      <button class="btn btn-success-outline" (click)="deleteDone()">
        Done
      </button>
    }
  </div>
</clr-modal>
