<clr-alert
  [clrAlertType]="alertType"
  [(clrAlertClosed)]="alertClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </clr-alert-item>
</clr-alert>
<div class="clr-row" #userDetails>
  <div class="clr-col">
    <form clrForm [formGroup]="userDetailsForm">
      <clr-input-container>
        <label for="email">ID</label>
        <input clrInput name="id" value="{{ this.user.id }}" disabled />
      </clr-input-container>
      <clr-input-container>
        <label for="email">Email</label>
        <input clrInput name="email" formControlName="email" required />
        <clr-control-error *clrIfError="'required'"
          >Email is required</clr-control-error
        >
        <clr-control-error *clrIfError="'email'"
          >Input must be an email</clr-control-error
        >
      </clr-input-container>
      <div class="clr-form-control clr-row" *rbac="['users.update']">
        <label for="password" class="clr-control-label">Password</label>
        <div class="clr-control-container clr-col-md-10 clr-col-12">
          <div class="clr-input-wrapper">
            <input
              class="clr-input"
              id="password"
              name="password"
              formControlName="password"
              type="{{ showPassword ? 'text' : 'password' }}"
            />
            <cds-icon
              *ngIf="!showPassword"
              (click)="togglePasswordVisibility()"
              class="clr-input-group-icon-action"
              aria-label="toggle password visibility"
              shape="eye-hide"
            ></cds-icon>
            <cds-icon
              *ngIf="showPassword"
              (click)="togglePasswordVisibility()"
              class="clr-input-group-icon-action"
              aria-label="toggle password visibility"
              shape="eye"
            ></cds-icon>
            <cds-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
              status="info"
            ></cds-icon>
            <clr-control-helper
              >Blank leaves password unchanged.</clr-control-helper
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <button
      class="btn btn-success"
      (click)="saveDetails()"
      [disabled]="saving"
      *rbac="['users.update']"
    >
      Save
    </button>
    <button
      class="btn btn-danger-outline"
      (click)="delete()"
      *rbac="['users.delete']"
    >
      Delete
    </button>
  </div>
</div>
<delete-confirmation #deleteconfirm (delete)="doDelete()"></delete-confirmation>
