<clr-alert
  [clrAlertType]="alertType"
  [(clrAlertClosed)]="alertClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </clr-alert-item>
</clr-alert>
<div class="clr-row" #userDetails>
  <div class="clr-col">
    <form clrForm [formGroup]="userDetailsForm">
      <clr-input-container>
        <label for="email">ID</label>
        <input clrInput name="id" value="{{ this.user.id }}" disabled />
      </clr-input-container>
      <clr-input-container>
        <label for="email">Email</label>
        <input clrInput name="email" value="{{ this.user.email }}" disabled />
      </clr-input-container>
      <clr-input-container *rbac="['users.update']">
        <label for="password">Password</label>
        <input
          clrInput
          name="password"
          formControlName="password"
          type="password"
        />
        <clr-control-helper
          >Blank leaves password unchanged.</clr-control-helper
        >
      </clr-input-container>
      <clr-input-container>
        <label for="email">Last Login</label>
        <input
          clrInput
          *ngIf="this.user.last_login_timestamp"
          name="last_login_timestamp"
          value="{{
            getFormattedDate(this.user.last_login_timestamp)
              | date : 'MMMM d, y, HH:mm:ss z'
          }}"
          disabled
        />
        <input
          clrInput
          *ngIf="!this.user.last_login_timestamp"
          name="last_login_timestamp"
          value="-"
          disabled
        />
      </clr-input-container>
      <clr-input-container>
        <label for="email">Registered</label>
        <input
          clrInput
          name="registered_timestamp"
          value="{{
            getFormattedDate(this.user.registered_timestamp)
              | date : 'MMMM d, y, HH:mm:ss z'
          }}"
          disabled
        />
      </clr-input-container>
    </form>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <button
      class="btn btn-success"
      (click)="saveDetails()"
      [disabled]="saving"
      *rbac="['users.update']"
    >
      Save
    </button>
    <button
      class="btn btn-danger-outline"
      (click)="delete()"
      *rbac="['users.delete']"
    >
      Delete
    </button>
  </div>
</div>
<delete-confirmation #deleteconfirm (delete)="doDelete()"></delete-confirmation>
