<clr-wizard
  #wizard
  clrWizardSize="xl"
  (clrWizardOnFinish)="saveEnvironment()"
  (clrWizardOnCancel)="close()"
  class="customized"
>
  <clr-wizard-title>Edit Environment</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!environmentDetails.valid"
    (clrWizardPageNext)="copyEnvironmentDetails()"
  >
    <ng-template clrPageTitle>Basic Information</ng-template>

    <form clrForm [formGroup]="environmentDetails">
      <clr-input-container>
        <label>Display Name</label>
        <input
          clrInput
          type="text"
          placeholder="display name"
          name="display_name"
          formControlName="display_name"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Environment name is required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'"
          >Environment name must be longer than 4 characters
        </clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>DNS Suffix</label>
        <input
          clrInput
          type="text"
          placeholder="my.fqdn.com"
          name="dnssuffix"
          formControlName="dnssuffix"
        />
        <clr-control-helper>Optional</clr-control-helper>
        <clr-control-error *clrIfError="'notDomain'"
          >DNS suffix is not a valid domain name</clr-control-error
        >
      </clr-input-container>
      <clr-input-container>
        <label>Provider</label>
        <input
          clrInput
          type="text"
          placeholder="vsphere, aws, etc."
          name="provider"
          formControlName="provider"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Provider is required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'"
          >Provider must be longer than 2 characters
        </clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Websocket Endpoint</label>
        <input
          clrInput
          type="text"
          placeholder="ip or fqdn"
          name="ws_endpoint"
          formControlName="ws_endpoint"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Websocket endpoint is required</clr-control-error
        >
        <clr-control-error *clrIfError="'pattern'"
          >Value must be valid IP or hostname</clr-control-error
        >
      </clr-input-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!environmentSpecifics.valid"
    (clrWizardPageNext)="copyEnvironmentSpecifics()"
  >
    <ng-template clrPageTitle>Environment Specifics</ng-template>

    <button class="btn btn-table btn-link" (click)="newEnvironmentSpecific()">
      <cds-icon shape="plus"></cds-icon> New Parameter
    </button>
    <table class="table table-compact" [formGroup]="environmentSpecifics">
      <thead>
        <tr>
          <th class="left">Key</th>
          <th class="left">Value</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody formArrayName="params">
        @for (
          p of environmentSpecifics["controls"].params["controls"];
          track p;
          let i = $index
        ) {
          <tr formGroupName="{{ i }}">
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="key"
                  formControlName="key"
                />
                <clr-control-error *clrIfError="'required'"
                  >Key is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="value"
                  formControlName="value"
                />
                <clr-control-error *clrIfError="'required'"
                  >Value is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <button
                class="btn btn-danger-outline btn-no-margin"
                (click)="deleteEnvironmentSpecific(i)"
              >
                <cds-icon shape="trash"></cds-icon>Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (environmentSpecifics["controls"].params["controls"].length != 0) {
      <span class="clr-subtext"
        >Parameters require both 'key' and 'value' fields to be set. Remove any
        parameters that do not meet this criteria.</span
      >
    }
  </clr-wizard-page>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!templateMappings.valid"
    (clrWizardPageNext)="copyTemplateMapping()"
  >
    <ng-template clrPageTitle>VM Templates</ng-template>
    Here you can define which VirtualMachineTemplates are allowed in this
    environment. You can also override values from the VMT config mapping for
    this environment.

    <br />
    @if (getValidVMTemplates().length > 0) {
      <ng-container [formGroup]="templateSelection">
        <select formControlName="vmt_select">
          @for (t of getValidVMTemplates(); track t; let i = $index) {
            <option value="{{ t.id }}">
              {{ t.name }}
            </option>
          }
        </select>
        <button
          class="btn btn-table btn-link"
          (click)="newTemplateMapping()"
          [disabled]="!hasTemplateSelection()"
        >
          <cds-icon shape="plus"></cds-icon> Add VMT
        </button>
      </ng-container>
    }
    <span class="clr-subtext"
      >Parameters require both 'key' and 'value' fields to be set. Remove any
      parameters that do not meet this criteria.</span
    >
    <ng-container [formGroup]="templateMappings">
      <clr-stack-view formArrayName="templates">
        @for (
          t of templateMappings["controls"].templates["controls"];
          track t;
          let it = $index
        ) {
          <clr-stack-block formGroupName="{{ it }}">
            <clr-stack-label>
              {{ getVirtualMachineTemplateName(t["controls"].template.value) }}
            </clr-stack-label>
            <clr-stack-content>
              <button
                class="btn btn-table btn-link"
                (click)="newTemplateParameter(it)"
              >
                <cds-icon shape="plus"></cds-icon> Add Parameter
              </button>
              <button
                class="btn btn-table btn-danger-outline"
                (click)="deleteTemplateMapping(it)"
              >
                <cds-icon shape="trash"></cds-icon> Delete
              </button>
            </clr-stack-content>
            <clr-stack-block>
              <clr-stack-label> Limit </clr-stack-label>
              <clr-stack-content>
                <clr-input-container class="no-margin-top">
                  <input
                    clrInput
                    type="number"
                    placeholder="Max. count e.g. 10"
                    name="count"
                    width="48"
                    formControlName="count"
                  />
                </clr-input-container>
              </clr-stack-content>
            </clr-stack-block>
            @for (
              p of t["controls"].params["controls"];
              track p;
              let ip = $index
            ) {
              <clr-stack-block formArrayName="params">
                <clr-stack-label formGroupName="{{ ip }}">
                  <input
                    clrStackInput
                    type="text"
                    placeholder="key"
                    formControlName="key"
                  />
                </clr-stack-label>
                <clr-stack-content formGroupName="{{ ip }}">
                  <input
                    clrStackInput
                    type="text"
                    placeholder="value"
                    formControlName="value"
                  />
                  <button
                    class="btn btn-table btn-danger-outline"
                    (click)="deleteTemplateParameter(it, ip)"
                  >
                    <cds-icon shape="trash"></cds-icon> Delete Parameter
                  </button>
                </clr-stack-content>
              </clr-stack-block>
            }
          </clr-stack-block>
        }
      </clr-stack-view>
    </ng-container>
  </clr-wizard-page>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!ipMapping.valid"
    (clrWizardPageNext)="copyIpMapping()"
  >
    <ng-template clrPageTitle>IP Mappings</ng-template>

    <button class="btn btn-table btn-link" (click)="newIpMapping()">
      <cds-icon shape="plus"></cds-icon> New Mapping
    </button>
    <table class="table table-compact" [formGroup]="ipMapping">
      <thead>
        <tr>
          <th class="left">From</th>
          <th class="left">To</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody formArrayName="mappings">
        @for (
          im of ipMapping["controls"].mappings["controls"];
          track im;
          let i = $index
        ) {
          <tr formGroupName="{{ i }}">
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="xxx.xxx.xxx"
                  formControlName="from"
                />
                <clr-control-error *clrIfError="'required'"
                  >From is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="yyy.yyy.yyy"
                  formControlName="to"
                />
                <clr-control-error *clrIfError="'required'"
                  >To is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <button
                class="btn btn-table btn-link"
                (click)="deleteIpMapping(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (ipMapping["controls"].mappings["controls"].length != 0) {
      <span class="clr-subtext"
        >IP mappings require both 'from' and 'to' fields to be set. Remove any
        mappings that do not meet this criteria.</span
      >
    }
  </clr-wizard-page>

  <clr-wizard-page (clrWizardPageOnLoad)="updateFormValues()">
    <ng-template clrPageTitle>Confirmation</ng-template>

    <p>Confirm the following details before finalizing</p>
    <h4>Basic Information</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Option</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @if (!!updateEnv) {
          <tr>
            <td>Display Name</td>
            @if (env.display_name == uneditedEnv.display_name) {
              <td>
                {{ env.display_name }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedEnv.display_name
                }}</span>
                <span class="add-elem">{{ env.display_name }}</span>
              </td>
            }
          </tr>
          <tr>
            <td>DNS Suffix</td>
            @if (env.dnssuffix == uneditedEnv.dnssuffix) {
              <td>
                {{ env.dnssuffix }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedEnv.dnssuffix
                }}</span>
                <span class="add-elem">{{ env.dnssuffix }}</span>
              </td>
            }
          </tr>
          <tr>
            <td>Provider</td>
            @if (env.provider == uneditedEnv.provider) {
              <td>
                {{ env.provider }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedEnv.provider
                }}</span>
                <span class="add-elem">{{ env.provider }}</span>
              </td>
            }
          </tr>
          <tr>
            <td>Websocket Endpoint</td>
            @if (env.ws_endpoint == uneditedEnv.ws_endpoint) {
              <td>
                {{ env.ws_endpoint }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedEnv.ws_endpoint
                }}</span>
                <span class="add-elem">{{ env.ws_endpoint }}</span>
              </td>
            }
          </tr>
        } @else {
          <tr>
            <td>Display Name</td>
            <td>{{ env.display_name }}</td>
          </tr>
          <tr>
            <td>DNS Suffix</td>
            <td>{{ env.dnssuffix }}</td>
          </tr>
          <tr>
            <td>Provider</td>
            <td>{{ env.provider }}</td>
          </tr>
          <tr>
            <td>Websocket Endpoint</td>
            <td>{{ env.ws_endpoint }}</td>
          </tr>
        }
      </tbody>
    </table>

    <h4>Environment Specifics</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @if (!!updateEnv) {
          @for (item of env.environment_specifics | keyvalue; track item) {
            <tr>
              <!-- view of unedit value -->
              @if (uneditedEnv.environment_specifics.hasOwnProperty(item.key)) {
                <td>
                  {{ item.key }}
                </td>
              }
              @if (item.value == uneditedEnv.environment_specifics[item.key]) {
                <td>
                  {{ item.value }}
                </td>
              }
              <!-- view of new key -->
              @if (
                !uneditedEnv.environment_specifics.hasOwnProperty(item.key)
              ) {
                <td class="add-elem">{{ item.key }}</td>
                <td class="add-elem">{{ item.value }}</td>
              }
              <!-- view of edit value -->
              @if (
                uneditedEnv.environment_specifics.hasOwnProperty(item.key) &&
                item.value != uneditedEnv.environment_specifics[item.key]
              ) {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedEnv.environment_specifics[item.key]
                  }}</span>
                  <span class="add-elem">{{ item.value }}</span>
                </td>
              }
            </tr>
          }
          <!-- view deleted key -->
          @for (
            item of uneditedEnv.environment_specifics | keyvalue;
            track item
          ) {
            <tr>
              @if (!env.environment_specifics.hasOwnProperty(item.key)) {
                <td class="del-elem">{{ item.key }}</td>
                <td class="del-elem">{{ item.value }}</td>
              }
            </tr>
          }
        } @else {
          @for (item of env.environment_specifics | keyvalue; track item) {
            <tr>
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
          }
        }
      </tbody>
    </table>

    <h4>Template Mappings</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Template</th>
          <th>Limit</th>
          <th>Parameters</th>
        </tr>
      </thead>
      <tbody>
        @if (!!updateEnv) {
          @for (template of env.template_mapping | keyvalue; track template) {
            <tr>
              @if (!isVMTemplateInUneditedEnv(template.key)) {
                <td class="add-elem">
                  {{ getVirtualMachineTemplateName(template.key) }}
                </td>
                <td class="add-elem">{{ getTemplateCount(template.key) }}</td>
              } @else {
                <td>{{ getVirtualMachineTemplateName(template.key) }}</td>
                @if (
                  getTemplateCount(template.key) ==
                  getTemplateUnEditEnvCount(template.key)
                ) {
                  <td>
                    {{ getTemplateCount(template.key) }}
                  </td>
                } @else {
                  <td>
                    <span class="del-elem arrow-after">{{
                      getTemplateUnEditEnvCount(template.key)
                    }}</span>
                    <span class="add-elem">{{
                      getTemplateCount(template.key)
                    }}</span>
                  </td>
                }
              }
              <td>
                <table class="table table-compact">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if (!isVMTemplateInUneditedEnv(template.key)) {
                      @for (item of template.value | keyvalue; track item) {
                        <tr>
                          <td class="add-elem">{{ item.key }}</td>
                          <td class="add-elem">{{ item.value }}</td>
                        </tr>
                      }
                    } @else {
                      @for (item of template.value | keyvalue; track item) {
                        <tr>
                          <!-- view of unedit value -->
                          @if (
                            uneditedEnv.template_mapping[
                              template.key
                            ].hasOwnProperty(item.key)
                          ) {
                            <td>
                              {{ item.key }}
                            </td>
                          }
                          @if (
                            item.value ==
                            uneditedEnv.template_mapping[template.key][item.key]
                          ) {
                            <td>
                              {{ item.value }}
                            </td>
                          }
                          <!-- view of new key -->
                          @if (
                            !uneditedEnv.template_mapping[
                              template.key
                            ].hasOwnProperty(item.key)
                          ) {
                            <td class="add-elem">{{ item.key }}</td>
                            <td class="add-elem">{{ item.value }}</td>
                          }
                          <!-- view of edit value -->
                          @if (
                            uneditedEnv.template_mapping[
                              template.key
                            ].hasOwnProperty(item.key) &&
                            item.value !=
                              uneditedEnv.template_mapping[template.key][
                                item.key
                              ]
                          ) {
                            <td>
                              <span class="del-elem arrow-after">{{
                                uneditedEnv.template_mapping[template.key][
                                  item.key
                                ]
                              }}</span>
                              <span class="add-elem">{{ item.value }}</span>
                            </td>
                          }
                        </tr>
                      }
                      <!-- view deleted key -->
                      @for (
                        item of uneditedEnv.template_mapping[template.key]
                          | keyvalue;
                        track item
                      ) {
                        <tr>
                          @if (
                            !env.template_mapping[template.key].hasOwnProperty(
                              item.key
                            )
                          ) {
                            <td class="del-elem">{{ item.key }}</td>
                            <td class="del-elem">{{ item.value }}</td>
                          }
                        </tr>
                      }
                    }
                  </tbody>
                </table>
              </td>
            </tr>
          }
        } @else {
          @for (template of env.template_mapping | keyvalue; track template) {
            <tr>
              <td>{{ template.key }}</td>
              <td>{{ getTemplateCount(template.key) }}</td>
              <td>
                <table class="table table-compact">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of template.value | keyvalue; track item) {
                      <tr>
                        <td>{{ item.key }}</td>
                        <td>{{ item.value }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>

    <h4>IP Mappings</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
        @if (!!updateEnv) {
          @for (item of env.ip_translation_map | keyvalue; track item) {
            <tr>
              <!-- view of unedit value -->
              @if (uneditedEnv.ip_translation_map.hasOwnProperty(item.key)) {
                <td>
                  {{ item.key }}
                </td>
              }
              @if (item.value == uneditedEnv.ip_translation_map[item.key]) {
                <td>
                  {{ item.value }}
                </td>
              }
              <!-- view of new key -->
              @if (!uneditedEnv.ip_translation_map.hasOwnProperty(item.key)) {
                <td class="add-elem">{{ item.key }}</td>
                <td class="add-elem">{{ item.value }}</td>
              }
              <!-- view of edit value -->
              @if (
                uneditedEnv.ip_translation_map.hasOwnProperty(item.key) &&
                item.value != uneditedEnv.ip_translation_map[item.key]
              ) {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedEnv.ip_translation_map[item.key]
                  }}</span>
                  <span class="add-elem">{{ item.value }}</span>
                </td>
              }
            </tr>
          }
          <!-- view deleted key -->
          @for (item of uneditedEnv.ip_translation_map | keyvalue; track item) {
            <tr>
              @if (!env.ip_translation_map.hasOwnProperty(item.key)) {
                <td class="del-elem">{{ item.key }}</td>
                <td class="del-elem">{{ item.value }}</td>
              }
            </tr>
          }
        } @else {
          @for (item of env.ip_translation_map | keyvalue; track item) {
            <tr>
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </clr-wizard-page>
</clr-wizard>
