.table-input {
    margin-top: 0 !important;
}

.btn-table {
    line-height: unset;
    height: unset;
    margin: 0 0 0 0;
}

.btn-no-margin {
    margin: 0;
    padding: 7px 12px;
    line-height: inherit;
    height: inherit;
}

.no-margin-top{
    margin-top: 0;
}