<div class="clr-row">
  <div class="clr-col">
    <h3>
      Settings
      <span class="scope">{{
        this.selectedScope?.displayName ?? "scope"
      }}</span>
    </h3>
  </div>
</div>
<alert #alert></alert>

<button class="btn" (click)="onSubmit()" [disabled]="!hasChanges || !valid">
  Save Changes
</button>
<ng-container *ngIf="loading">
  <div>
    <span class="spinner spinner-inline"> Please wait... </span>
    <span> Settings are being loaded... </span>
  </div>
</ng-container>
<ng-container *ngIf="!loading">
  <app-typed-form
    *ngIf="settings.length > 0"
    [typedInputs]="settings"
    (syncedInputs)="onFormChange($event)"
    (inputsValid)="changeFormValidity($event)"
    [groupType]="FormGroupType.TABS"
  ></app-typed-form>
  <div *ngIf="settings.length == 0">
    No settings available for scope
    <code>{{ this.selectedScope.displayName }}</code
    >.
  </div>
</ng-container>
