<div class="card">
    <div class="progress">
        <progress class="{{getProgressColorClass()}}" [value]="getProgress() || 0" max="100"></progress>
    </div>
    
    <div class="card-header" (click)="progressFilterName()">
        {{ progress.username }}
    </div>
    <div class="card-block">
        <div class="card-text">
            <div><clr-icon shape="play" solid></clr-icon> {{progress.scenario_name}}</div>
            <div *ngIf="progress.course"><clr-icon shape="layers" solid></clr-icon> {{progress.course_name}}</div>
            <div *ngIf="progress.current_step > 0"><clr-icon shape="number-list"></clr-icon> {{ progress.current_step }} / {{ progress.total_step }}</div>
            <div *ngIf="progress.current_step == 0"><clr-icon shape="number-list"></clr-icon> Not started yet</div>
            <div *ngIf="!progress.finished" title="Since {{progress.started}}"><clr-icon shape="clock"></clr-icon> {{  timeSince(progress.started) }}</div>
            <div *ngIf="progress.finished" title="{{progress.started}}-{{progress.last_update}}"><clr-icon shape="clock"></clr-icon> {{  timeSince(progress.started, progress.last_update) }}</div>
        </div>
    </div>

    


    <div class="card-footer">

        <clr-dropdown>
            <button class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
                Actions
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                <div class="dropdown-item " (click)="openInfo()" clrDropdownItem>Info</div>                
                <div class="dropdown-item"  (click)="openTerminalWindow()" clrDropdownItem>Join Session</div>
                <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                <div class="dropdown-item " (click)="terminateSession()" clrDropdownItem>Terminate Session</div>
            </clr-dropdown-menu>
        </clr-dropdown>


        <!-- <button class="btn btn-outline" (click)="openInfo()" >Info</button>
        <button
      class="btn btn-outline"
      (click)="openTerminalWindow()"
    >
      >_
    </button>
        <button class="btn btn-danger-outline" (click)="terminateSession()" [disabled]="progress.finished" >Terminate Session</button> -->
    </div>
</div>

<progress-info #progressInfo [progress]="progress" [(pause)]="pause"></progress-info>