<clr-wizard
  #wizard
  clrWizardSize="xl"
  (clrWizardOnFinish)="whenFinish()"
  (clrWizardOnCancel)="doCancel()"
  class="customized"
>
  <clr-wizard-title> {{ wizardTitle }} </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!form?.valid"
    (clrWizardPageNext)="saveCourseWizard()"
  >
    <ng-template clrPageTitle>Course Details</ng-template>
    <div>
      <course-form
        #courseForm
        [course]="selectedCourse"
        (formReady)="setupForm($event)"
      ></course-form>
    </div>
  </clr-wizard-page>

  <clr-wizard-page
    (clrWizardPageNext)="saveCourseWizard()"
    [clrWizardPageNextDisabled]="
      courseHasAtLeastOneVMSet() && !courseHasValidVMCConfiguration()
    "
  >
    <ng-template clrPageTitle>Virtual Machine</ng-template>
    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="!courseHasAtLeastOneVMSet()"
    >
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></cds-icon>
          </div>
          <span class="alert-text"
            >This Course will be a content-only course until you configure a
            VirtualMachine</span
          >
        </div>
      </div>
    </div>
    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="courseHasAtLeastOneVMSet() && !courseHasValidVMCConfiguration()"
    >
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></cds-icon>
          </div>
          <span class="alert-text"
            >There are invalid VirtualMachineSets. No Empty VMSets
            allowed.</span
          >
        </div>
      </div>
    </div>
    <ng-template clrPageTitle>Virtual Machines</ng-template>
    <vmset
      #virtualmachine
      [(vms)]="editVirtualMachines"
      (vmsChange)="setVM($event)"
      [updateRbac]="updateRbac"
    ></vmset>
  </clr-wizard-page>

  <clr-wizard-page
    (clrWizardPageNext)="saveCourseWizard()"
    [clrWizardPageNextDisabled]="
      dragScenarios.length == 0 && editCategories.length == 0
    "
    *ngIf="wizardCourse == 'edit'"
  >
    <ng-template clrPageTitle>Scenarios</ng-template>
    <ng-container *ngIf="listScenarios">
      <button
        class="btn btn-sm btn-success-outline"
        *rbac="['courses.update']"
        (click)="openAdd()"
      >
        Add Scenario
      </button>
      <table class="table table-compact">
        <thead>
          <tr>
            <th>Move</th>
            <th>Order</th>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody
          class="container"
          [dragula]="'scenarios'"
          [(dragulaModel)]="dragScenarios"
        >
          <tr *ngFor="let s of dragScenarios; let i = index">
            <td>
              <cds-icon class="handle" shape="drag-handle" size="24"></cds-icon>
            </td>
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ s.id }}
            </td>
            <td>
              {{ s.name }}
            </td>
            <td>
              <button
                class="btn btn-link btn-sm btn-link-danger"
                (click)="deleteScenario(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        The following scenarios are added dynamically to this course. Edit them
        in the "Dynamic Scenarios" Tab.
      </p>
      <clr-datagrid class="datagrid-compact">
        <clr-dg-column>Id</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-row
          *clrDgItems="let s of dynamicAddedScenarios"
          [clrDgItem]="s"
        >
          <clr-dg-cell>{{ s.id }}</clr-dg-cell>
          <clr-dg-cell>{{ s.name }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </ng-container>
  </clr-wizard-page>

  <clr-wizard-page
    (clrWizardPageNext)="saveCourseWizard()"
    *ngIf="wizardCourse == 'create'"
  >
    <ng-template clrPageTitle>Scenarios</ng-template>
    <ng-container *ngIf="listScenarios">
      <button
        class="btn btn-sm btn-success-outline"
        *rbac="['courses.update']"
        (click)="openAdd()"
      >
        Add Scenario
      </button>
      <table class="table table-compact">
        <thead>
          <tr>
            <th>Move</th>
            <th>Order</th>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody
          class="container"
          [dragula]="'scenarios'"
          [(dragulaModel)]="dragScenarios"
        >
          <tr *ngFor="let s of dragScenarios; let i = index">
            <td>
              <cds-icon class="handle" shape="drag-handle" size="24"></cds-icon>
            </td>
            <td>
              {{ i + 1 }}
            </td>
            <td>
              {{ s.id }}
            </td>
            <td>
              {{ s.name }}
            </td>
            <td>
              <button
                class="btn btn-link btn-sm btn-link-danger"
                (click)="deleteScenario(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        The following scenarios are added dynamically to this course. Edit them
        in the "Dynamic Scenarios" Tab.
      </p>
      <clr-datagrid class="datagrid-compact">
        <clr-dg-column>Id</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-row
          *clrDgItems="let s of dynamicAddedScenarios"
          [clrDgItem]="s"
        >
          <clr-dg-cell>{{ s.id }}</clr-dg-cell>
          <clr-dg-cell>{{ s.name }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </ng-container>
  </clr-wizard-page>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="
      dragScenarios.length == 0 && editCategories.length == 0
    "
  >
    <ng-template clrPageTitle>Dynamic Scenario</ng-template>
    <ng-container>
      <p>
        Scenarios that match at least one of the queries provided are
        dynamically included in this course,<br />
        together with all scenarios selected in the scenarios-tab which are
        always included.<br />
        There is no need to update the course (or any scheduled event that
        includes this course) if categories of a scenario are changed.<br />
      </p>

      <button
        class="btn btn-success-outline btn-sm"
        (click)="newCategory = true"
        *rbac="['courses.update']"
      >
        <cds-icon shape="plus"></cds-icon> Add Query
      </button>
      <button
        class="btn btn-success-outline btn-sm"
        (click)="seeExamples = !seeExamples"
        *rbac="['courses.update']"
      >
        <cds-icon shape="plus"></cds-icon> Example Queries
      </button>
      <ng-container *ngIf="seeExamples">
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Query</clr-dg-column>
          <clr-dg-column>Explanation</clr-dg-column>
          <clr-dg-row>
            <clr-dg-cell>kubernetes</clr-dg-cell>
            <clr-dg-cell
              >All Scenarios that are in the kubernetes category</clr-dg-cell
            >
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-cell>!kubernetes</clr-dg-cell>
            <clr-dg-cell
              >All Scenarios that are not in the kubernetes
              category</clr-dg-cell
            >
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-cell>kubernetes&basic</clr-dg-cell>
            <clr-dg-cell
              >All Scenarios that are in the kubernetes AND in the basic
              category</clr-dg-cell
            >
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-cell>kubernetes&k3s&basic</clr-dg-cell>
            <clr-dg-cell
              >Queries also work with more than two categories</clr-dg-cell
            >
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-cell>kubernetes&!basic</clr-dg-cell>
            <clr-dg-cell
              >All Scenarios that are in the kubernetes category, but not in the
              basic category</clr-dg-cell
            >
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-cell>example&!example</clr-dg-cell>
            <clr-dg-cell>No Scenarios will ever match this</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
        <p>
          Logical OR can be achieved by adding two queries. Each queries matched
          scenarios will be uniquely merged<br />
          Adding one query `kubernetes` and one query `docker` will select all
          categories that are part of either one.
        </p>
      </ng-container>
      <ng-container *ngIf="newCategory">
        <p>
          You can provide multiple queries by passing them as a Comma-separated
          List
        </p>
        <form clrForm [formGroup]="newCategoryForm">
          <clr-input-container>
            <label class="clr-col-md-4">Query</label>
            <input
              class="clr-col-md-6"
              clrInput
              type="text"
              name="category"
              formControlName="category"
              required
            />
            <clr-control-error *clrIfError="'required'"
              >Query required.</clr-control-error
            >
            <clr-control-error *clrIfError="'pattern'"
              >Query shouldn't be empty or have non-latin
              letter</clr-control-error
            >
          </clr-input-container>
          <div class="col-md-2">
            <button
              class="btn btn-success btn-sm"
              [disabled]="!newCategoryForm.valid"
              (click)="addCategory()"
            >
              Add
            </button>
          </div>
        </form>
      </ng-container>
      <clr-datagrid class="datagrid-compact">
        <clr-dg-column>Query</clr-dg-column>
        <clr-dg-row *clrDgItems="let a of editCategories" [clrDgItem]="a">
          <clr-dg-action-overflow>
            <button class="action-item" (click)="deleteCategory(a)">
              Delete
            </button>
          </clr-dg-action-overflow>
          <clr-dg-cell>{{ a }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </ng-container>
  </clr-wizard-page>
  <clr-wizard-page (clrWizardPageOnLoad)="updateFinalPageWizard()">
    <ng-template clrPageTitle>Finalize</ng-template>
    <p>Confirm the following details before finishing</p>
    <h4>Course</h4>
    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="!courseHasAtLeastOneVMSet()"
    >
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon
              class="alert-icon"
              shape="exclamation-triangle"
            ></cds-icon>
          </div>
          <span class="alert-text"
            >This Course will be a content-only course until you configure a
            VirtualMachine</span
          >
        </div>
      </div>
    </div>
    <table class="table table-compact" *ngIf="selectedCourse">
      <thead>
        <tr>
          <th>Option</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <ng-container *ngIf="wizardCourse == 'create'">
            <td>{{ course.name }}</td>
          </ng-container>
          <ng-container *ngIf="wizardCourse == 'edit'">
            <td *ngIf="selectedCourse.name == editSelectedCourse.name">
              {{ selectedCourse.name }}
            </td>
            <td *ngIf="selectedCourse.name != editSelectedCourse.name">
              <span class="del-elem">{{ selectedCourse.name }}</span>
              <cds-icon shape="arrow" direction="right"></cds-icon>
              <span class="add-elem">{{ editSelectedCourse.name }}</span>
            </td>
          </ng-container>
        </tr>

        <tr>
          <td>Description</td>
          <ng-container *ngIf="wizardCourse == 'create'">
            <td>{{ course.description }}</td>
          </ng-container>
          <ng-container *ngIf="wizardCourse == 'edit'">
            <td
              *ngIf="
                selectedCourse.description == editSelectedCourse.description
              "
            >
              {{ selectedCourse.description }}
            </td>
            <td
              *ngIf="
                selectedCourse.description != editSelectedCourse.description
              "
            >
              <span class="del-elem">{{ selectedCourse.description }}</span>
              <cds-icon shape="arrow" direction="right"></cds-icon>
              <span class="add-elem">{{ editSelectedCourse.description }}</span>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>Keepalive Duration</td>
          <ng-container *ngIf="wizardCourse == 'create'">
            <td>{{ course.keepalive_duration }}</td>
          </ng-container>
          <ng-container *ngIf="wizardCourse == 'edit'">
            <td
              *ngIf="
                selectedCourse.keepalive_duration ==
                editSelectedCourse.keepalive_duration
              "
            >
              {{ selectedCourse.keepalive_duration }}
            </td>
            <td
              *ngIf="
                selectedCourse.keepalive_duration !=
                editSelectedCourse.keepalive_duration
              "
            >
              <span class="del-elem">{{
                selectedCourse.keepalive_duration
              }}</span>
              <cds-icon shape="arrow" direction="right"></cds-icon>
              <span class="add-elem">{{
                editSelectedCourse.keepalive_duration
              }}</span>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>Pause Duration</td>
          <ng-container *ngIf="wizardCourse == 'create'">
            <td>{{ course.pause_duration }}</td>
          </ng-container>
          <ng-container *ngIf="wizardCourse == 'edit'">
            <td
              *ngIf="
                selectedCourse.pause_duration ==
                editSelectedCourse.pause_duration
              "
            >
              {{ selectedCourse.pause_duration }}
            </td>
            <td
              *ngIf="
                selectedCourse.pause_duration !=
                editSelectedCourse.pause_duration
              "
            >
              <span class="del-elem">{{ selectedCourse.pause_duration }}</span>
              <cds-icon shape="arrow" direction="right"></cds-icon>
              <span class="add-elem">{{
                editSelectedCourse.pause_duration
              }}</span>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td>Scenario</td>
          <td>
            <ng-container *ngFor="let s of selectedCourse.scenarios">
              <span
                class="label"
                *ngIf="isScenarioInList(s, editSelectedCourse.scenarios)"
                >{{ s.name }}</span
              >
              <span
                class="label del-elem"
                *ngIf="!isScenarioInList(s, editSelectedCourse.scenarios)"
                >{{ s.name }}<cds-icon shape="trash"></cds-icon
              ></span>
            </ng-container>
            <ng-container *ngFor="let s of editSelectedCourse.scenarios">
              <span
                class="label add-elem"
                *ngIf="!isScenarioInList(s, selectedCourse.scenarios)"
                >{{ s.name }} <cds-icon shape="plus"></cds-icon
              ></span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>Dynamic Scenario</td>
          <td>
            <ng-container *ngIf="wizardCourse == 'create'">
              <span class="label" *ngFor="let categorie of course.categories"
                >{{ categorie }}
              </span>
            </ng-container>
            <ng-container *ngIf="wizardCourse == 'edit'">
              <span
                class="label"
                *ngFor="let categorie of selectedCourse.categories"
                >{{ categorie }}
              </span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="courseHasAtLeastOneVMSet()">
      <h4>VM Information</h4>
      <table class="table table-compact">
        <thead>
          <tr>
            <th>VM Name</th>
            <th>VM Template</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let i of editSelectedCourse.virtualmachines | keyvalue"
          >
            <tr *ngFor="let q of showVM(i.value) | keyvalue">
              <!-- view of unedit value -->
              <ng-container *ngIf="getSelectedCourseVM(i.key, q.key) != 0">
                <td>{{ q.key }}</td>
              </ng-container>
              <ng-container
                *ngIf="getSelectedCourseVM(i.key, q.key) == q.value"
              >
                <td>{{ q.value }}</td>
              </ng-container>
              <!-- view of new key -->
              <ng-container *ngIf="getSelectedCourseVM(i.key, q.key) === 0">
                <td class="add-elem">{{ q.key }}</td>
                <td class="add-elem">{{ q.value }}</td>
              </ng-container>
              <!-- view of edit value (delete VM and create VM with the same VM Name) -->
              <ng-container *ngIf="isEditedVM(i.key, q.key, q.value)">
                <td class="add-elem">{{ q.value }}</td>
              </ng-container>
            </tr>
          </ng-container>
          <!-- view deleted key -->
          <ng-container
            *ngFor="let i of selectedCourse.virtualmachines | keyvalue"
          >
            <tr *ngFor="let q of showVM(i.value) | keyvalue">
              <ng-container
                *ngIf="getEditSelectedCourseVM(i.key, q.key) != q.value"
              >
                <td class="del-elem">{{ q.key }}</td>
                <td class="del-elem">{{ q.value }}</td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </clr-wizard-page>
</clr-wizard>
<add-scenario
  #addScenario
  [scenarios]="scenarios"
  (selected)="addSelected($event)"
></add-scenario>
