<clr-wizard
  #wizard
  clrWizardSize="xl"
  (clrWizardOnFinish)="whenFinish()"
  (clrWizardOnCancel)="doCancel()"
  class="customized"
>
  <clr-wizard-title> {{ wizardTitle }} </clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="isFormValid"
    (clrWizardPageNext)="saveCourseWizard()"
  >
    <ng-template clrPageTitle>Course Details</ng-template>
    <div>
      <course-form
        #courseForm
        [course]="selectedCourse"
        (formReady)="setupForm($event)"
      ></course-form>
    </div>
  </clr-wizard-page>

  <clr-wizard-page
    (clrWizardPageNext)="saveCourseWizard()"
    [clrWizardPageNextDisabled]="
      courseHasAtLeastOneVMSet() && !courseHasValidVMCConfiguration()
    "
  >
    <ng-template clrPageTitle>Virtual Machine</ng-template>
    @if (!courseHasAtLeastOneVMSet()) {
      <div class="alert alert-warning" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon
                class="alert-icon"
                shape="exclamation-triangle"
              ></cds-icon>
            </div>
            <span class="alert-text"
              >This Course will be a content-only course until you configure a
              VirtualMachine</span
            >
          </div>
        </div>
      </div>
    } @else if (
      courseHasAtLeastOneVMSet() && !courseHasValidVMCConfiguration()
    ) {
      <div class="alert alert-warning" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon
                class="alert-icon"
                shape="exclamation-triangle"
              ></cds-icon>
            </div>
            <span class="alert-text"
              >There are invalid VirtualMachineSets. No Empty VMSets
              allowed.</span
            >
          </div>
        </div>
      </div>
    }
    <ng-template clrPageTitle>Virtual Machines</ng-template>
    <vmset
      #virtualmachine
      [(vms)]="editVirtualMachines"
      (vmsChange)="setVM($event)"
      [updateRbac]="updateRbac"
    ></vmset>
  </clr-wizard-page>

  @if (wizardCourse == "edit") {
    <clr-wizard-page
      (clrWizardPageNext)="saveCourseWizard()"
      [clrWizardPageNextDisabled]="
        dragScenarios.length == 0 && editCategories.length == 0
      "
    >
      <ng-template clrPageTitle>Scenarios</ng-template>
      @if (listScenarios) {
        <button
          class="btn btn-sm btn-success-outline"
          *rbac="['courses.update']"
          (click)="openAdd()"
        >
          Add Scenario
        </button>
        <table class="table table-compact">
          <thead>
            <tr>
              <th>Move</th>
              <th>Order</th>
              <th>Id</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody
            class="container"
            [dragula]="'scenarios'"
            [(dragulaModel)]="dragScenarios"
          >
            @for (s of dragScenarios; track s; let i = $index) {
              <tr>
                <td>
                  <cds-icon
                    class="handle"
                    shape="drag-handle"
                    size="24"
                  ></cds-icon>
                </td>
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ s.id }}
                </td>
                <td>
                  {{ s.name }}
                </td>
                <td>
                  <button
                    class="btn btn-link btn-sm btn-link-danger"
                    (click)="deleteScenario(i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
        <p>
          The following scenarios are added dynamically to this course. Edit
          them in the "Dynamic Scenarios" Tab.
        </p>
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Id</clr-dg-column>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-row
            *clrDgItems="let s of dynamicAddedScenarios"
            [clrDgItem]="s"
          >
            <clr-dg-cell>{{ s.id }}</clr-dg-cell>
            <clr-dg-cell>{{ s.name }}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      }
    </clr-wizard-page>
  } @else if (wizardCourse == "create") {
    <clr-wizard-page (clrWizardPageNext)="saveCourseWizard()">
      <ng-template clrPageTitle>Scenarios</ng-template>
      @if (listScenarios) {
        <button
          class="btn btn-sm btn-success-outline"
          *rbac="['courses.update']"
          (click)="openAdd()"
        >
          Add Scenario
        </button>
        <table class="table table-compact">
          <thead>
            <tr>
              <th>Move</th>
              <th>Order</th>
              <th>Id</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody
            class="container"
            [dragula]="'scenarios'"
            [(dragulaModel)]="dragScenarios"
          >
            @for (s of dragScenarios; track s; let i = $index) {
              <tr>
                <td>
                  <cds-icon
                    class="handle"
                    shape="drag-handle"
                    size="24"
                  ></cds-icon>
                </td>
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ s.id }}
                </td>
                <td>
                  {{ s.name }}
                </td>
                <td>
                  <button
                    class="btn btn-link btn-sm btn-link-danger"
                    (click)="deleteScenario(i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
        <p>
          The following scenarios are added dynamically to this course. Edit
          them in the "Dynamic Scenarios" Tab.
        </p>
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Id</clr-dg-column>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-row
            *clrDgItems="let s of dynamicAddedScenarios"
            [clrDgItem]="s"
          >
            <clr-dg-cell>{{ s.id }}</clr-dg-cell>
            <clr-dg-cell>{{ s.name }}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      }
    </clr-wizard-page>
  }
  @if (showDynamicScenario()) {
    <clr-wizard-page
      [clrWizardPageNextDisabled]="
        dragScenarios.length == 0 && editCategories.length == 0
      "
    >
      <ng-template clrPageTitle>Dynamic Scenario</ng-template>
      <ng-container>
        <p>
          Scenarios that match at least one of the queries provided are
          dynamically included in this course,<br />
          together with all scenarios selected in the scenarios-tab which are
          always included.<br />
          There is no need to update the course (or any scheduled event that
          includes this course) if categories of a scenario are changed.<br />
        </p>

        <button
          class="btn btn-success-outline btn-sm"
          (click)="newCategory = true"
          *rbac="['courses.update']"
        >
          <cds-icon shape="plus"></cds-icon> Add Query
        </button>
        <button
          class="btn btn-success-outline btn-sm"
          (click)="seeExamples = !seeExamples"
          *rbac="['courses.update']"
        >
          <cds-icon shape="plus"></cds-icon> Example Queries
        </button>
        @if (seeExamples) {
          <clr-datagrid class="datagrid-compact">
            <clr-dg-column>Query</clr-dg-column>
            <clr-dg-column>Explanation</clr-dg-column>
            <clr-dg-row>
              <clr-dg-cell>kubernetes</clr-dg-cell>
              <clr-dg-cell
                >All Scenarios that are in the kubernetes category</clr-dg-cell
              >
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>!kubernetes</clr-dg-cell>
              <clr-dg-cell
                >All Scenarios that are not in the kubernetes
                category</clr-dg-cell
              >
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>kubernetes&basic</clr-dg-cell>
              <clr-dg-cell
                >All Scenarios that are in the kubernetes AND in the basic
                category</clr-dg-cell
              >
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>kubernetes&k3s&basic</clr-dg-cell>
              <clr-dg-cell
                >Queries also work with more than two categories</clr-dg-cell
              >
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>kubernetes&!basic</clr-dg-cell>
              <clr-dg-cell
                >All Scenarios that are in the kubernetes category, but not in
                the basic category</clr-dg-cell
              >
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell>example&!example</clr-dg-cell>
              <clr-dg-cell>No Scenarios will ever match this</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
          <p>
            Logical OR can be achieved by adding two queries. Each queries
            matched scenarios will be uniquely merged<br />
            Adding one query `kubernetes` and one query `docker` will select all
            categories that are part of either one.
          </p>
        }
        @if (newCategory) {
          <p>
            You can provide multiple queries by passing them as a
            Comma-separated List
          </p>
          <form clrForm [formGroup]="newCategoryForm">
            <clr-input-container>
              <label class="clr-col-md-4">Query</label>
              <input
                class="clr-col-md-6"
                clrInput
                type="text"
                name="category"
                formControlName="category"
                required
              />
              <clr-control-error *clrIfError="'required'"
                >Query required.</clr-control-error
              >
              <clr-control-error *clrIfError="'pattern'"
                >Query shouldn't be empty or have non-latin
                letter</clr-control-error
              >
            </clr-input-container>
            <div class="col-md-2">
              <button
                class="btn btn-success btn-sm"
                [disabled]="!newCategoryForm.valid"
                (click)="addCategory()"
              >
                Add
              </button>
            </div>
          </form>
        }
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Query</clr-dg-column>
          <clr-dg-row *clrDgItems="let a of editCategories" [clrDgItem]="a">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="deleteCategory(a)">
                Delete
              </button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{ a }}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </ng-container>
    </clr-wizard-page>
  }
  <clr-wizard-page (clrWizardPageOnLoad)="updateFinalPageWizard()">
    <ng-template clrPageTitle>Finalize</ng-template>
    <p>Confirm the following details before finishing</p>
    <h4>Course</h4>
    @if (!courseHasAtLeastOneVMSet()) {
      <div class="alert alert-warning" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon
                class="alert-icon"
                shape="exclamation-triangle"
              ></cds-icon>
            </div>
            <span class="alert-text"
              >This Course will be a content-only course until you configure a
              VirtualMachine</span
            >
          </div>
        </div>
      </div>
    }
    @if (selectedCourse) {
      <table class="table table-compact">
        <thead>
          <tr>
            <th>Option</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            @if (wizardCourse == "create") {
              <td>{{ course.name }}</td>
            } @else if (wizardCourse == "edit") {
              @if (selectedCourse.name == editSelectedCourse.name) {
                <td>
                  {{ selectedCourse.name }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{ selectedCourse.name }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{ editSelectedCourse.name }}</span>
                </td>
              }
            }
          </tr>
          <tr>
            <td>Description</td>
            @if (wizardCourse == "create") {
              <td>{{ course.description }}</td>
            } @else if (wizardCourse == "edit") {
              @if (
                selectedCourse.description == editSelectedCourse.description
              ) {
                <td>
                  {{ selectedCourse.description }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{ selectedCourse.description }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{
                    editSelectedCourse.description
                  }}</span>
                </td>
              }
            }
          </tr>
          <tr>
            <td>Keepalive Duration</td>
            @if (wizardCourse == "create") {
              <td>{{ course.keepalive_duration }}</td>
            } @else if (wizardCourse == "edit") {
              @if (
                selectedCourse.keepalive_duration ==
                editSelectedCourse.keepalive_duration
              ) {
                <td>
                  {{ selectedCourse.keepalive_duration }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{
                    selectedCourse.keepalive_duration
                  }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{
                    editSelectedCourse.keepalive_duration
                  }}</span>
                </td>
              }
            }
          </tr>
          <tr>
            <td>Pause Duration</td>
            @if (wizardCourse == "create") {
              <td>{{ course.pause_duration }}</td>
            } @else if (wizardCourse == "edit") {
              @if (
                selectedCourse.pause_duration ==
                editSelectedCourse.pause_duration
              ) {
                <td>
                  {{ selectedCourse.pause_duration }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{
                    selectedCourse.pause_duration
                  }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{
                    editSelectedCourse.pause_duration
                  }}</span>
                </td>
              }
            }
          </tr>
          <tr>
            <td>Learnpath</td>
            @if (wizardCourse == "create") {
              <td>{{ course.is_learnpath ? "yes" : "no" }}</td>
            } @else if (wizardCourse == "edit") {
              @if (
                selectedCourse.is_learnpath == editSelectedCourse.is_learnpath
              ) {
                <td>
                  {{ selectedCourse.is_learnpath ? "yes" : "no" }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{
                    selectedCourse.is_learnpath ? "yes" : "no"
                  }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{
                    editSelectedCourse.is_learnpath ? "yes" : "no"
                  }}</span>
                </td>
              }
            }
          </tr>

          <tr>
            <td>Shown in Catalog</td>
            @if (wizardCourse == "create") {
              <td>{{ course.in_catalog ? "yes" : "no" }}</td>
            } @else if (wizardCourse == "edit") {
              @if (selectedCourse.in_catalog == editSelectedCourse.in_catalog) {
                <td>
                  {{ selectedCourse.in_catalog ? "yes" : "no" }}
                </td>
              } @else {
                <td>
                  <span class="del-elem">{{
                    selectedCourse.in_catalog ? "yes" : "no"
                  }}</span>
                  <cds-icon shape="arrow" direction="right"></cds-icon>
                  <span class="add-elem">{{
                    editSelectedCourse.in_catalog ? "yes" : "no"
                  }}</span>
                </td>
              }
            }
          </tr>

          <tr>
            <td>Scenario</td>
            <td>
              @for (s of selectedCourse.scenarios; track s) {
                @if (isScenarioInList(s, editSelectedCourse.scenarios)) {
                  <span class="label">{{ s.name }}</span>
                } @else {
                  <span class="label del-elem"
                    >{{ s.name }}<cds-icon shape="trash"></cds-icon
                  ></span>
                }
              }
              @for (s of editSelectedCourse.scenarios; track s) {
                @if (!isScenarioInList(s, selectedCourse.scenarios)) {
                  <span class="label add-elem"
                    >{{ s.name }} <cds-icon shape="plus"></cds-icon
                  ></span>
                }
              }
            </td>
          </tr>
          <tr>
            <td>Dynamic Scenario</td>
            <td>
              @if (wizardCourse == "create") {
                @for (categorie of selectedCourse.categories; track categorie) {
                  <span class="label">{{ categorie }} </span>
                }
              } @else if (wizardCourse == "edit") {
                @for (
                  category of editSelectedCourse.categories;
                  track category
                ) {
                  <span class="label">{{ category }} </span>
                }
              }
            </td>
          </tr>
        </tbody>
      </table>
    }
    @if (courseHasAtLeastOneVMSet()) {
      <h4>VM Information</h4>
      <table class="table table-compact">
        <thead>
          <tr>
            <th>VM Name</th>
            <th>VM Template</th>
          </tr>
        </thead>
        <tbody>
          @for (i of editSelectedCourse.virtualmachines | keyvalue; track i) {
            @for (q of showVM(i.value) | keyvalue; track q) {
              <tr>
                <!-- view of unedit value -->
                @if (getSelectedCourseVM(i.key, q.key) != 0) {
                  <td>{{ q.key }}</td>
                }
                @if (getSelectedCourseVM(i.key, q.key) == q.value) {
                  <td>{{ q.value }}</td>
                }
                <!-- view of new key -->
                @if (getSelectedCourseVM(i.key, q.key) === 0) {
                  <td class="add-elem">{{ q.key }}</td>
                  <td class="add-elem">{{ q.value }}</td>
                }
                <!-- view of edit value (delete VM and create VM with the same VM Name) -->
                @if (isEditedVM(i.key, q.key, q.value)) {
                  <td class="add-elem">{{ q.value }}</td>
                }
              </tr>
            }
          }
          <!-- view deleted key -->
          @for (i of selectedCourse.virtualmachines | keyvalue; track i) {
            @for (q of showVM(i.value) | keyvalue; track q) {
              <tr>
                @if (getEditSelectedCourseVM(i.key, q.key) != q.value) {
                  <td class="del-elem">{{ q.key }}</td>
                  <td class="del-elem">{{ q.value }}</td>
                }
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </clr-wizard-page>
</clr-wizard>
<add-scenario
  #addScenario
  [scenarios]="scenarios"
  (selected)="addSelected($event)"
></add-scenario>
