<div class="main-container" *rbac="['progresses.list']">
  <h3>Session Statistics For Active Events</h3>
  <form [formGroup]="chartDetails" [class.clr-error]="chartDetails.errors?.endDateLowerThanStartDate">
    <div class="clr-row">
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
        <clr-select-container>
          <label>Observation Period</label>
          <select clrSelect formControlName="observationPeriod" >
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </clr-select-container>
      </div>
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
        <clr-combobox-container>
          <label>Scenarios</label>
          <clr-combobox formControlName="scenarios" name="scenarios" clrMulti="true">
            <ng-container *clrOptionSelected="let scenarioSelected">
                {{ scenarioSelected }}
            </ng-container>
            <clr-options>
                <clr-option *clrOptionItems="let scenario of scenariosWithSession" [clrValue]="scenario">
                    <clr-icon shape="node-group"></clr-icon> {{ scenario }}
                </clr-option>
            </clr-options>
          </clr-combobox>
          <clr-control-error>Scenarios are required.</clr-control-error>
          <clr-control-helper>
            <div class="scenario-actions">
              <a class="scenario-action" href="javascript://" (click)="clearScenarios()">Clear Scenarios</a>
              <a class="scenario-action" href="javascript://" (click)="addAllScenarios()">Add All Scenarios</a>
            </div>
          </clr-control-helper>
        </clr-combobox-container>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
        <clr-input-container class="date-label-input">
          <label>Start Date</label>
          <input
            clrInput
            type="text"
            name="startDate"
            formControlName="startDate"
            required
            readonly
          />
          <clr-control-error *clrIfError="'required'">
            Start Date required.
          </clr-control-error>
          <clr-control-error *clrIfError="'startDateIsInFuture'">
            Start Date should be today or in the past.
          </clr-control-error>
        </clr-input-container>
        <clr-signpost class="signpost">
          <button class="btn btn-sm btn-link" clrSignpostTrigger>Change Start Date</button>
          <clr-signpost-content [clrPosition]="'right-middle'" *clrIfOpen #startDateSignpost>
            <dl-date-time-picker (change)="setStartDate($event)" [startView]="startView" maxView="year" [minView]="minView">
            </dl-date-time-picker>
          </clr-signpost-content>
        </clr-signpost>
      </div>
      <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
        <clr-input-container class="date-label-input">
          <label>End Date</label>
          <input
            clrInput
            type="text"
            name="endDate"
            formControlName="endDate"
            required
            readonly
          />
          <clr-control-error *clrIfError="'required'">
            End Date required.
          </clr-control-error>
        </clr-input-container>
        <clr-signpost class="signpost">
          <button class="btn btn-link" clrSignpostTrigger>Change End Date</button>
          <clr-signpost-content [clrPosition]="'right-middle'" *clrIfOpen #endDateSignpost>
            <dl-date-time-picker (change)="setEndDate($event)" [startView]="startView" maxView="year" [minView]="minView">
            </dl-date-time-picker>
          </clr-signpost-content>
        </clr-signpost>
        <span class="clr-subtext" *ngIf="chartDetails.errors?.endDateLowerThanStartDate">
          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon> Start date must occur before end time!
        </span>
      </div>
    </div>
  </form>
  <div class="clr-row">
    <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
      <h4>Started Sessions (Detailed)</h4>
      <div style="display: block">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
      <h4>Started Sessions (Overview)</h4>
      <clr-datagrid>
        <clr-dg-column [clrDgField]="'key'">Scenario</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'value'" [clrDgSortOrder]="descSort">Total Sessions</clr-dg-column>
        <clr-dg-row *clrDgItems="let item of totalSessionsPerScenario | keyvalue">
          <clr-dg-cell>{{item.key}}</clr-dg-cell>
          <clr-dg-cell>{{item.value}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>