@if (selectedEvent) {
  <div class="content-area">
    @if (sessionDashboardActive && rbacSuccessSessions) {
      <h3>Sessions for {{ selectedEvent.event_name }}</h3>
    } @else if (vmDashboardActive && rbacSuccessVms) {
      <h3>VMs for {{ selectedEvent.event_name }}</h3>
    } @else if (usersDashboardActive && rbacSuccessVms) {
      <h3>Users participating in {{ selectedEvent.event_name }}</h3>
    } @else if (statisticsDashboardActive && rbacSuccessSessions) {
      <h3>Statistics for {{ selectedEvent.event_name }}</h3>
    } @else if (costDashboardActive) {
      <h3>Costs for {{ selectedEvent.event_name }}</h3>
    }
    <span class="additional-info">
      <ng-container *rbac="['accesscodes.get']">
        AC:
        <span class="access-code">{{ selectedEvent.access_code }}</span>
        &#8226;
      </ng-container>
      <ng-container *rbac="['scheduledevents.get']">
        Until
        {{ selectedEvent.end_time | date: "MMM d, y, HH:mm" }}
      </ng-container>
      <ng-container *rbac="['scheduledevents.get', 'users.list']">
        <span>&#8226; Created by {{ selectedEvent.creatorEmail }} </span>
      </ng-container>
    </span>
    <clr-tabs>
      @if (rbacSuccessSessions) {
        <clr-tab>
          <button clrTabLink>Sessions</button>
          <ng-template [(clrIfActive)]="sessionDashboardActive">
            <clr-tab-content *clrIfActive>
              <progress-dashboard
                class="progress-dashboard"
                [selectedEvent]="selectedEvent"
              >
              </progress-dashboard>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
      }
      @if (rbacSuccessVms) {
        <clr-tab>
          <button clrTabLink>VMs</button>
          <ng-template [(clrIfActive)]="vmDashboardActive">
            <clr-tab-content *clrIfActive>
              <div class="content-area">
                <vm-dashboard [selectedEvent]="selectedEvent"></vm-dashboard>
              </div>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
      }
      @if (rbacSuccessSessions) {
        <clr-tab>
          <button clrTabLink>Users</button>
          <ng-template [(clrIfActive)]="usersDashboardActive">
            <clr-tab-content *clrIfActive>
              <div class="content-area">
                <users-dashboard
                  [selectedEvent]="selectedEvent"
                ></users-dashboard>
              </div>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
      }
      @if (rbacSuccessSessions) {
        <clr-tab>
          <button clrTabLink>Statistics</button>
          <ng-template [(clrIfActive)]="statisticsDashboardActive">
            <clr-tab-content *clrIfActive>
              <app-session-statistics [scheduledEvent]="selectedEvent">
              </app-session-statistics>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
      }
        <clr-tab>
          <button clrTabLink>Costs</button>
          <ng-template [(clrIfActive)]="costDashboardActive">
            <clr-tab-content *clrIfActive>
              <cost-dashboard [selectedEvent]="selectedEvent">
              </cost-dashboard>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
    </clr-tabs>
  </div>
}
