<clr-wizard #wizard clrWizardSize="xl" [clrWizardDisableStepnav]="false">
    <clr-wizard-title>Edit VM Template</clr-wizard-title>

    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'previous'">Previous</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!templateDetails.valid">
        <ng-template clrPageTitle>Basic Information</ng-template>

        <form clrForm [formGroup]="templateDetails">
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" placeholder="name" name="name" formControlName="name" required />
                <clr-control-error *clrIfError="'required'">Template name is required</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Template name must be longer than 4
                    characters</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>Image</label>
                <input clrInput type="text" placeholder="image" name="image" formControlName="image" required />
                <clr-control-error *clrIfError="'required'">Image is required</clr-control-error>
            </clr-input-container>
        </form>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!configMap.valid">
        <ng-template clrPageTitle>Config Map</ng-template>

        <button class="btn btn-table btn-link" (click)="newConfigMapping()">
            <cds-icon shape="plus"></cds-icon> New Mapping
        </button>
        <table class="table table-compact" [formGroup]="configMap">
            <thead>
                <tr>
                    <th class="left">Key</th>
                    <th class="left">Value</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody formArrayName="mappings">
                <ng-container *ngFor="let m of configMap['controls'].mappings['controls']; let i = index">
                    <tr formGroupName="{{i}}">
                        <td>
                            <clr-input-container class="table-input">
                                <input clrInput type="text" placeholder="key" formControlName="key" />
                                <clr-control-error *clrIfError="'required'">Key is required</clr-control-error>
                            </clr-input-container>
                        </td>
                        <td>
                            <clr-input-container class="table-input">
                                <input clrInput type="text" placeholder="value" formControlName="value" />
                                <clr-control-error *clrIfError="'required'">Value is required</clr-control-error>
                            </clr-input-container>
                        </td>
                        <td>
                            <button class="btn btn-table btn-link" (click)="deleteConfigMapping(i)">Delete</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <ng-container *ngIf="configMap && !configMap.valid">
            <span class="clr-subtext">All mappings must have key and value filled out. Complete, or remove, any entries
                that do not.</span>
        </ng-container>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Services</ng-template>
        <app-vmtemplate-service-form [cloudConfig]="cloudConfig"></app-vmtemplate-service-form>
    </clr-wizard-page>


    <clr-wizard-page (clrWizardPageOnLoad)="copyTemplate()" [clrWizardPagePreventDefaultNext]="true"
        (clrWizardPageFinish)="saveTemplate()">
        <ng-template clrPageTitle>Confirmation</ng-template>
        <alert #alert></alert>
        <p>Confirm the following details before finalizing</p>
        <h4>Basic Information</h4>
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!!this.editTemplate; else newTemplate">
                    <tr>
                        <td>Name</td>                   
                            <td *ngIf="template.name == uneditedTemplate.name">{{ template.name }}</td>
                            <td *ngIf="template.name != uneditedTemplate.name">
                        <span class="del-elem arrow-after">{{ uneditedTemplate.name }}</span > 
                        <span class="add-elem">{{ template.name }}</span >     
                        </td> 
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td *ngIf="template.image == uneditedTemplate.image">{{ template.image }}</td>
                        <td *ngIf="template.image != uneditedTemplate.image">
                        <span class="del-elem arrow-after">{{ uneditedTemplate.image }}</span > 
                        <span class="add-elem">{{ template.image }}</span >     
                        </td>  
                    </tr>
                </ng-container>
                    <ng-template #newTemplate>
                        <tr>
                            <td>Name</td>
                            <td>{{ template.name }}</td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>{{ template.image }}</td>
                        </tr>                        
                    </ng-template> 
               
            </tbody>
        </table>

        <h4>Config Map</h4>
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of template.config_map | keyvalue">
                    <ng-container *ngIf="item.key === cloudConfigKey && cloudConfig.cloudConfigYaml.length > 0">
                        <td>{{ item.key }}<br><clr-signpost>
                                <clr-signpost-content *clrIfOpen>
                                    <h3>Cloud Config</h3>
                                    <p>This is the resulting Cloud Config from the previous step. It is put together
                                        based on the Order in
                                        which the Services are put in the List</p>
                                </clr-signpost-content>
                            </clr-signpost></td>
                        <td>
                            <markdown [data]="cloudConfig.cloudConfigYaml | language: 'yaml'"></markdown>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="item.key === vmServiceKey">
                        <td>{{ item.key }}</td>                        
                        <td>
                            <table class="table table-compact">
                                <th>Name</th>
                                <th>Port</th>
                                <th>Tab</th>
                                <tbody>
                                    <tr *ngFor="let interface of cloudConfig.vmServices | keyvalue">
                                        <td>{{ interface.value.name }}</td>                                     
                                        <td>
                                            {{ interface.value.hasWebinterface ? interface.value.port : "-" }}
                                        </td>
                                        <td>{{ interface.value.hasOwnTab ? interface.value.hasOwnTab : "-" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="!!this.editTemplate; else newTemplate">
                        <ng-container *ngIf="item.key !== cloudConfigKey && item.key !== vmServiceKey">
                            <!-- view of unedit value -->
                            <td *ngIf="uneditedTemplate.config_map.hasOwnProperty(item.key)">{{ item.key }}</td>
                            <td *ngIf="item.value == uneditedTemplate.config_map[item.key]">{{ item.value }}</td>  
                            <!-- view of new key  -->
                            <ng-container *ngIf="!uneditedTemplate.config_map.hasOwnProperty(item.key)">
                                <td class="add-elem">{{ item.key }}</td>
                                <td class="add-elem">{{ item.value }}</td> 
                            </ng-container> 
                            <!-- view of edit value -->
                            <td *ngIf="uneditedTemplate.config_map.hasOwnProperty(item.key) && item.value != uneditedTemplate.config_map[item.key]">
                                <span class="del-elem arrow-after">{{ uneditedTemplate.config_map[item.key] }}</span > 
                                <span class="add-elem">{{ item.value }}</span > 
                            </td>                            
                        </ng-container>
                    </ng-container>
                    <ng-template #newTemplate>
                        <td>{{ item.key }}</td>
                        <td>{{ item.value }}</td>                        
                    </ng-template>                         
                </tr> 
                <ng-container *ngIf="!!this.editTemplate">
                    <!-- view deleted key -->
                    <tr *ngFor="let item of uneditedTemplate.config_map | keyvalue">
                        <ng-container *ngIf="item.key !== cloudConfigKey && item.key !== vmServiceKey">
                            <ng-container *ngIf="!template.config_map.hasOwnProperty(item.key)">
                                <td class="del-elem">{{ item.key }}</td>       
                                <td class="del-elem">{{ item.value }}</td >  
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-container>
               
            </tbody>
        </table>
    </clr-wizard-page>
</clr-wizard>