<clr-wizard #wizard clrWizardSize="xl" [clrWizardDisableStepnav]="false">
    <clr-wizard-title>Edit VM Template</clr-wizard-title>
    
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'previous'">Previous</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!templateDetails.valid">
        <ng-template clrPageTitle>Basic Information</ng-template>

        <form clrForm [formGroup]="templateDetails">
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" placeholder="name" name="name"
                formControlName="name" required />
                <clr-control-error *clrIfError="'required'">Template name is required</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Template name must be longer than 4 characters</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>Image</label>
                <input clrInput type="text" placeholder="image" name="image" 
                formControlName="image" required />
                <clr-control-error *clrIfError="'required'">Image is required</clr-control-error>
            </clr-input-container>
            <fieldset>
                <clr-input-container>
                    <label>CPU</label>
                    <input clrInput type="number" placeholder="1" name="cpu"
                    formControlName="cpu" />
                    <clr-control-helper>Number of CPUs</clr-control-helper>
                </clr-input-container>
                <clr-input-container>
                    <label>Memory</label>
                    <input clrInput type="number" placeholder="1" name="memory"
                    formControlName="memory" />
                    <clr-control-helper>Memory specified in MB</clr-control-helper>
                </clr-input-container>
                <clr-input-container>
                    <label>Storage</label>
                    <input clrInput type="number" placeholder="1" name="storage"
                    formControlName="storage" />
                    <clr-control-helper>Storage specified in GB</clr-control-helper>
                </clr-input-container>
            </fieldset>
        </form>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!configMap.valid">
        <ng-template clrPageTitle>Config Map</ng-template>

        <button class="btn btn-table btn-link" (click)="newConfigMapping()">
            <clr-icon shape="plus"></clr-icon> New Mapping
        </button>
        <table class="table table-compact" [formGroup]="configMap">
            <thead>
                <tr>
                    <th class="left">Key</th>
                    <th class="left">Value</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody formArrayName="mappings">
                <ng-container *ngFor="let m of configMap['controls'].mappings['controls']; let i = index">
                    <tr formGroupName="{{i}}">
                        <td>
                            <clr-input-container class="table-input">
                                <input clrInput type="text" placeholder="key" formControlName="key" />
                                <clr-control-error *clrIfError="'required'">Key is required</clr-control-error>
                            </clr-input-container>
                        </td>
                        <td>
                            <clr-input-container class="table-input">
                                <input clrInput type="text" placeholder="value" formControlName="value" />
                                <clr-control-error *clrIfError="'required'">Value is required</clr-control-error>
                            </clr-input-container>
                        </td>
                        <td>
                            <button class="btn btn-table btn-link" (click)="deleteConfigMapping(i)">Delete</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <ng-container *ngIf="configMap && !configMap.valid">
            <span class="clr-subtext">All mappings must have key and value filled out. Complete, or remove, any entries that do not.</span>
        </ng-container>
    </clr-wizard-page>
    <clr-wizard-page (clrWizardPageOnLoad)="copyTemplate()" [clrWizardPagePreventDefaultNext]="true" (clrWizardPageFinish)="saveTemplate()">
        <ng-template clrPageTitle>Confirmation</ng-template>
        <alert #alert></alert>
        <p>Confirm the following details before finalizing</p>
        <h4>Basic Information</h4>
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ template.name }}</td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>{{ template.image }}</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>{{ template.resources?.cpu }}</td>
                </tr>
                <tr>
                    <td>Memory</td>
                    <td>{{ template.resources?.memory }}</td>
                </tr>
                <tr>
                    <td>Storage</td>
                    <td>{{ template.resources?.storage }}</td>
                </tr>
            </tbody>
        </table>

        <h4>Config Map</h4>
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of template.config_map | keyvalue">
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </tbody>
        </table>
    </clr-wizard-page>
</clr-wizard>