.clr-code {
    white-space: pre; 
    color: var(--clr-table-font-color, #666666);
}

.code-container {
    background-color: var(--clr-thead-bgcolor, #fafafa); 
    width: 100%;    
    padding: 9px; 
    border: 1px solid var(--clr-table-border-color, #cccccc);
}