<clr-wizard
  #wizard
  clrWizardSize="xl"
  [clrWizardDisableStepnav]="false"
  class="customized"
>
  <clr-wizard-title>Edit VM Template</clr-wizard-title>

  <clr-wizard-button
    [clrWizardButtonDisabled]="buttonsDisabled"
    [type]="'cancel'"
    >Cancel</clr-wizard-button
  >
  <clr-wizard-button
    [clrWizardButtonDisabled]="buttonsDisabled"
    [type]="'previous'"
    >Previous</clr-wizard-button
  >
  <clr-wizard-button [clrWizardButtonDisabled]="buttonsDisabled" [type]="'next'"
    >Next</clr-wizard-button
  >
  <clr-wizard-button
    [clrWizardButtonDisabled]="buttonsDisabled"
    [type]="'finish'"
    >Finish</clr-wizard-button
  >

  <clr-wizard-page [clrWizardPageNextDisabled]="!templateDetails.valid">
    <ng-template clrPageTitle>Basic Information</ng-template>

    <form clrForm [formGroup]="templateDetails">
      <clr-input-container>
        <label>Name</label>
        <input
          clrInput
          type="text"
          placeholder="name"
          name="name"
          formControlName="name"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Template name is required</clr-control-error
        >
        <clr-control-error *clrIfError="'minlength'"
          >Template name must be longer than 4 characters</clr-control-error
        >
      </clr-input-container>
      <clr-input-container>
        <label>Image</label>
        <input
          clrInput
          type="text"
          placeholder="image"
          name="image"
          formControlName="image"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >Image is required</clr-control-error
        >
      </clr-input-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!costDetails.valid">
    <ng-template clrPageTitle>Cost</ng-template>

    <form clrForm [formGroup]="costDetails">
      <clr-input-container>
        <label>Base Price</label>
        <input
          clrInput
          type="number"
          placeholder="base price"
          name="cost_base_price"
          formControlName="cost_base_price"
        />
        <clr-control-error *clrIfError="'invalidFloat'"
        >Optional base price needs to be a floating-point number greater or equal zero</clr-control-error
        >
      </clr-input-container>
      <clr-select-container>
        <label>Time Unit</label>
        <select title="cost_time_unit" clrSelect formControlName="cost_time_unit">
          <option value=""></option>
          <option value="seconds">seconds</option>
          <option value="minutes">minutes</option>
          <option value="hours">hours</option>
        </select>
      </clr-select-container>
      <clr-control-error *ngIf="costDetails.errors?.invalidAllOrNone">
        Either both or none of the fields must be set.
      </clr-control-error>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!configMap.valid">
    <ng-template clrPageTitle>Config Map</ng-template>

    <button class="btn btn-table btn-link" (click)="newConfigMapping()">
      <cds-icon shape="plus"></cds-icon> New Mapping
    </button>
    <table class="table table-compact" [formGroup]="configMap">
      <thead>
        <tr>
          <th class="left">Key</th>
          <th class="left">Value</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody formArrayName="mappings">
        @for (
          m of configMap["controls"].mappings["controls"];
          track m;
          let i = $index
        ) {
          <tr formGroupName="{{ i }}">
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="key"
                  formControlName="key"
                />
                <clr-control-error *clrIfError="'required'"
                  >Key is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <clr-input-container class="table-input">
                <input
                  clrInput
                  type="text"
                  placeholder="value"
                  formControlName="value"
                />
                <clr-control-error *clrIfError="'required'"
                  >Value is required</clr-control-error
                >
              </clr-input-container>
            </td>
            <td>
              <button
                class="btn btn-table btn-link"
                (click)="deleteConfigMapping(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (configMap && !configMap.valid) {
      <span class="clr-subtext"
        >All mappings must have key and value filled out. Complete, or remove,
        any entries that do not.</span
      >
    }
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Services</ng-template>
    <app-vmtemplate-service-form
      [cloudConfig]="cloudConfig"
    ></app-vmtemplate-service-form>
  </clr-wizard-page>

  <clr-wizard-page
    (clrWizardPageOnLoad)="copyTemplate()"
    [clrWizardPagePreventDefaultNext]="true"
    (clrWizardPageFinish)="saveTemplate()"
  >
    <ng-template clrPageTitle>Confirmation</ng-template>
    <alert #alert></alert>
    <p>Confirm the following details before finalizing</p>
    <h4>Basic Information</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Option</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @if (!!this.editTemplate) {
          <tr>
            <td>Name</td>
            @if (template.name == uneditedTemplate.name) {
              <td>
                {{ template.name }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedTemplate.name
                }}</span>
                <span class="add-elem">{{ template.name }}</span>
              </td>
            }
          </tr>
          <tr>
            <td>Image</td>
            @if (template.image == uneditedTemplate.image) {
              <td>
                {{ template.image }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                  uneditedTemplate.image
                }}</span>
                <span class="add-elem">{{ template.image }}</span>
              </td>
            }
          </tr>
        } @else {
          <tr>
            <td>Name</td>
            <td>{{ template.name }}</td>
          </tr>
          <tr>
            <td>Image</td>
            <td>{{ template.image }}</td>
          </tr>
        }
      </tbody>
    </table>

    <h4>Cost</h4>
    <table class="table table-compact">
      <thead>
      <tr>
        <th>Option</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
        @if (!!this.editTemplate) {
          <tr>
            <td>Base Price</td>
            @if (template.cost_base_price == uneditedTemplate.cost_base_price) {
              <td>
                {{ template.cost_base_price ?? 'None' }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                    uneditedTemplate.cost_base_price ?? 'None'
                  }}</span>
                <span class="add-elem">{{ template.cost_base_price ?? 'None' }}</span>
              </td>
            }
          </tr>
          <tr>
            <td>Time Unit</td>
            @if (template.cost_time_unit == uneditedTemplate.cost_time_unit) {
              <td>
                {{ template.cost_time_unit ?? 'None' }}
              </td>
            } @else {
              <td>
                <span class="del-elem arrow-after">{{
                    uneditedTemplate.cost_time_unit ?? 'None'
                  }}</span>
                <span class="add-elem">{{ template.cost_time_unit ?? 'None' }}</span>
              </td>
            }
          </tr>
        } @else {
          <tr>
            <td>Base Price</td>
            <td>{{ template.cost_base_price ?? 'None' }}</td>
          </tr>
          <tr>
            <td>Time Unit</td>
            <td>{{ template.cost_time_unit ?? 'None' }}</td>
          </tr>
        }
      </tbody>
    </table>

    <h4>Config Map</h4>
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @for (item of template.config_map | keyvalue; track item) {
          <tr>
            @if (
              item.key === cloudConfigKey &&
              cloudConfig.cloudConfigYaml.length > 0
            ) {
              <td>
                {{ item.key }}<br /><clr-signpost>
                  <clr-signpost-content *clrIfOpen>
                    <h3>Cloud Config</h3>
                    <p>
                      This is the resulting Cloud Config from the previous step.
                      It is put together based on the Order in which the
                      Services are put in the List
                    </p>
                  </clr-signpost-content>
                </clr-signpost>
              </td>
              <td>
                <markdown
                  [data]="cloudConfig.cloudConfigYaml | language: 'yaml'"
                ></markdown>
              </td>
            }
            @if (item.key === vmServiceKey) {
              <td>{{ item.key }}</td>
              <td>
                <table class="table table-compact">
                  <th>Name</th>
                  <th>Port</th>
                  <th>Tab</th>
                  <tbody>
                    @for (
                      interface of cloudConfig.vmServices | keyvalue;
                      track interface
                    ) {
                      <tr>
                        <td>{{ interface.value.name }}</td>
                        <td>
                          {{
                            interface.value.hasWebinterface
                              ? interface.value.port
                              : "-"
                          }}
                        </td>
                        <td>
                          {{
                            interface.value.hasOwnTab
                              ? interface.value.hasOwnTab
                              : "-"
                          }}
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </td>
            }
            @if (!!this.editTemplate) {
              @if (item.key !== cloudConfigKey && item.key !== vmServiceKey) {
                <!-- view of unedit value -->
                @if (uneditedTemplate.config_map.hasOwnProperty(item.key)) {
                  <td>
                    {{ item.key }}
                  </td>
                }
                @if (item.value == uneditedTemplate.config_map[item.key]) {
                  <td>
                    {{ item.value }}
                  </td>
                }
                <!-- view of new key  -->
                @if (!uneditedTemplate.config_map.hasOwnProperty(item.key)) {
                  <td class="add-elem">{{ item.key }}</td>
                  <td class="add-elem">{{ item.value }}</td>
                }
                <!-- view of edit value -->
                @if (
                  uneditedTemplate.config_map.hasOwnProperty(item.key) &&
                  item.value != uneditedTemplate.config_map[item.key]
                ) {
                  <td>
                    <span class="del-elem arrow-after">{{
                      uneditedTemplate.config_map[item.key]
                    }}</span>
                    <span class="add-elem">{{ item.value }}</span>
                  </td>
                }
              }
            } @else {
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            }
          </tr>
        }
        @if (!!this.editTemplate) {
          <!-- view deleted key -->
          @for (item of uneditedTemplate.config_map | keyvalue; track item) {
            <tr>
              @if (
                item.key !== cloudConfigKey &&
                item.key !== vmServiceKey &&
                !template.config_map.hasOwnProperty(item.key)
              ) {
                <td class="del-elem">{{ item.key }}</td>
                <td class="del-elem">{{ item.value }}</td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </clr-wizard-page>
</clr-wizard>
