.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clr-accordion {
  margin-top: 1rem;
  width: 100%;
}