<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'">
    <h3 class="modal-title" *ngIf="open">
      OTACs for {{ currentScheduledEvent.event_name }}
    </h3>
    <div class="modal-body">
        <form clrForm [formGroup]="amountInputForm" class="flexbox">
            <div>New OTACs: </div>
            <clr-input-container class="input-container">
                <input formControlName="amountInput" type="number" clrInput name="amountNewOtacsInput" [(ngModel)]="amountNewOtacs" />
                <clr-control-error>Input must be a positive Number</clr-control-error>
            </clr-input-container>
            <button [disabled]="!amountInputForm.valid" type="button" class="btn btn-primary" (click)="createOtacs()">
                generate
              </button>
        </form>
      

        

      <div class="datagrid-container">
      <clr-datagrid>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-column>OTAC</clr-dg-column>
        <clr-dg-column>Claimed by</clr-dg-column>
        <clr-dg-column>Claimed at</clr-dg-column>
        <clr-dg-column>Delete</clr-dg-column>
        
        <clr-dg-row *ngFor="let otac of otacs">
          <clr-dg-cell>
            <span class="badge badge-success" *ngIf="otac.user == ''"
              >free</span
            >
            <span class="badge badge-info" *ngIf="otac.user !== ''">taken</span>
          </clr-dg-cell>
          <clr-dg-cell>{{ otac.name }}</clr-dg-cell>
          <clr-dg-cell>{{ getUsername(otac.user) }}</clr-dg-cell>
          <clr-dg-cell>{{ otac.redeemed_timestamp }}</clr-dg-cell>
          <clr-dg-cell>
            <button type="button" class="btn btn-warning-outline" (click)="deleteOtac(otac)">
            Delete
            </button>
        </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{ getOverallInfo() }}</clr-dg-footer>
      </clr-datagrid>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="exportCSV()">
            Export to csv
          </button>
      <button type="button" class="btn btn-flat-primary" (click)="close()">
        Close
      </button>
    </div>
</clr-modal>
