<clr-modal
  [(clrModalOpen)]="open"
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
>
  @if (open) {
    <h3 class="modal-title">
      OTACs for {{ currentScheduledEvent?.event_name ?? '?' }}
    </h3>
  }
  <div class="modal-body">
    <clr-alert [clrAlertType]="alertType" [(clrAlertClosed)]="alertClosed">
      <clr-alert-item>
        <span class="alert-text">
          {{ alertText }}
        </span>
      </clr-alert-item>
    </clr-alert>
    @if (scheduledEventAvailable) {
      <form
        clrForm
        [formGroup]="amountInputForm"
        class="flexbox"
        *rbac="['scheduledevents.update']"
      >
        <div>New OTACs:</div>
        <clr-input-container class="input-container">
          <label class="otac-label">Count</label>
          <input
            formControlName="amountInput"
            type="number"
            clrInput
            name="amountNewOtacsInput"
          />
          <clr-control-error>Input must be a positive Number</clr-control-error>
        </clr-input-container>

        <clr-input-container class="input-container">
          <label class="otac-label">Duration</label>
          <input
            formControlName="duration"
            type="text"
            clrInput
            name="duration"
            placeholder="e.g. 1d, 24h, 60m"
            title="Duration"
          />
          <clr-control-error
            >Input must be a valid duration consisting of a number followed by
            (d,h,m).</clr-control-error
          >
        </clr-input-container>
        <button
          [disabled]="!amountInputForm.valid"
          type="button"
          class="btn btn-primary"
          (click)="createOtacs()"
        >
          generate
        </button>
      </form>

      <div class="datagrid-container">
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'status'" [clrDgSortOrder]="descSort"
            >Status</clr-dg-column
          >
          <clr-dg-column [clrDgField]="'name'">OTAC</clr-dg-column>
          <clr-dg-column [clrDgField]="'userEmail'">Claimed by</clr-dg-column>
          <clr-dg-column>Claimed at</clr-dg-column>
          <clr-dg-column>Max. Duration</clr-dg-column>
          <clr-dg-column *rbac="['scheduledevents.update']"
            >Delete</clr-dg-column
          >

          <clr-dg-row *clrDgItems="let otac of otacs">
            <clr-dg-cell>
              @if (otac.status == 'free') {
                <span class="badge badge-success">free</span>
              } @else if (otac.status == 'taken') {
                <span class="badge badge-info">taken</span>
              } @else if (otac.status == 'out-of-time') {
                <span class="badge badge-danger">out-of-time</span>
              }
            </clr-dg-cell>
            <clr-dg-cell>{{ otac.name }}</clr-dg-cell>
            <clr-dg-cell>{{ otac.userEmail }}</clr-dg-cell>
            <clr-dg-cell>{{ otac.redeemed_timestamp }}</clr-dg-cell>
            @if (hasMaxDuration(otac)) {
              <clr-dg-cell
                ><cds-icon shape="clock"></cds-icon>
                {{ otac.max_duration }}</clr-dg-cell
              >
            } @else {
              <clr-dg-cell>Until Event ends</clr-dg-cell>
            }
            <clr-dg-cell *rbac="['scheduledevents.update']">
              <button
                type="button"
                class="btn btn-warning-outline"
                (click)="deleteOtac(otac)"
              >
                Delete
              </button>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{ getOverallInfo() }}</clr-dg-footer>
        </clr-datagrid>
      </div>
    }
  </div>
  <div class="modal-footer">
    @if (currentScheduledEvent) {
      <button
        type="button"
        class="btn btn-primary"
        (click)="exportCSV(currentScheduledEvent)"
      >
        Export to csv
      </button>
    }
    <button type="button" class="btn btn-flat-primary" (click)="close()">
      Close
    </button>
  </div>
</clr-modal>
