<button class="btn btn-sm" (click)="openEdit(0)" *rbac="['scenarios.update']">
  Open Step Editor
</button>
<button
  class="btn btn-success-outline btn-sm"
  (click)="openNewStep()"
  *rbac="['scenarios.update']"
>
  <cds-icon shape="plus-circle" solid="true"></cds-icon> New Step
</button>
<clr-datagrid>
  <clr-dg-column>Index</clr-dg-column>
  <clr-dg-column>Title</clr-dg-column>

  <clr-dg-row *clrDgItems="let s of scenario.steps; let i = index">
    <clr-dg-action-overflow *rbac="['scenarios.update']">
      @if (i > 0) {
        <button class="action-item" (click)="moveStepUp(i)">Move Up</button>
      }
      @if (i < scenario.steps.length - 1) {
        <button class="action-item" (click)="moveStepDown(i)">Move Down</button>
      }
      <button class="action-item" (click)="openEdit(i)">Edit</button>
      <button class="action-item" (click)="openDeleteStep(i)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ s.title }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<clr-modal #editmodal [(clrModalOpen)]="editOpen" [clrModalSize]="'xl'">
  <h3 class="modal-title">
    Edit Step {{ this.editingIndex + 1 }} of
    {{ this.editingSteps.length }}
  </h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-6">
        <form clrForm>
          <clr-input-container class="step-input">
            <label for="title">Step title</label>
            <input
              class="full-width"
              clrInput
              placeholder="Step title"
              name="title"
              [(ngModel)]="editingStep.title"
              width="80%"
            />
          </clr-input-container>
        </form>
      </div>
      <div class="clr-col-6">
        <button
          class="btn btn-info-outline"
          (click)="previousStep()"
          title="Navigate to the previous step"
          [disabled]="this.isFirstStep()"
        >
          Previous
        </button>
        <button
          class="btn btn-info-outline"
          (click)="nextStep()"
          title="Navigate to the next step"
          [disabled]="this.isLastStep()"
        >
          Next
        </button>
        <button
          class="btn btn-info-outline"
          (click)="openNewStep()"
          title="Create new step at the end"
        >
          New Step
        </button>
      </div>
    </div>
    <md-editor [(content)]="this.editingStep.content"></md-editor>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger-outline" (click)="cancelEdit()">
      Cancel
    </button>
    <button
      class="btn btn-success"
      (click)="saveCreatedStep()"
      *rbac="['scenarios.update']"
    >
      Save
    </button>
  </div>
</clr-modal>

<clr-modal
  #deletestepmodal
  [(clrModalOpen)]="deleteStepOpen"
  [clrModalSize]="'xl'"
>
  <h3 class="modal-title">Delete Step</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this step?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success-outline" (click)="deleteStepOpen = false">
      Cancel
    </button>
    <button
      class="btn btn-danger"
      (click)="doDeleteStep()"
      *rbac="['scenarios.update']"
    >
      Delete
    </button>
  </div>
</clr-modal>
