<p>add-course-wizard works!</p>
<clr-wizard #wizard clrWizardSize="xl" (clrWizardOnFinish)="whenFinish()">

    <clr-wizard-title> Create new Course</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page (clrWizardPageNext)="save()" [clrWizardPageNextDisabled]="!form.valid">
        <ng-template clrPageTitle>Course Details</ng-template>
        <div>
            <course-form [course]="course" (formReady)="setupForm($event)"></course-form>
          </div>
          <div>
          </div>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="isVMNull" (clrWizardPageNext)="save()">
        <ng-template clrPageTitle>Virtual Machines</ng-template>
        <vmset [(vms)]="editVirtualMachines" (vmsChange)="setModified()" [updateRbac]="updateRbac"></vmset>

    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 3</ng-template>
        ...
    </clr-wizard-page>

</clr-wizard>
