<details [ngClass]="'redBorder'" (toggle)="detailsOpen = !detailsOpen">
  <summary class="flex-container">
    <div>
      <cds-icon
        shape="angle"
        [ngClass]="detailsOpen ? 'down' : 'sideways'"
      ></cds-icon>
      Verify: {{ taskName }} on {{ target }}
    </div>
    <div class="label-container">
      <button
        id="refreshButton"
        (click)="elementClicked()"
        class="label label-info"
      >
        <cds-icon
          [@rotatedState]="rotationState"
          shape="sync"
          inverse
        ></cds-icon>
      </button>
      <div class="label label-danger">
        <cds-icon shape="times" inverse></cds-icon>
      </div>
    </div>
  </summary>

  <ul class="list-group" *ngIf="task">
    <li class="list-group-item">
      <p>Description: {{ task.description }}</p>
      <p>Command: {{ task.command }}</p>
    </li>
    <li class="list-group-item">
      <p>Expected Output: {{ task.expected_output_value }}</p>
      <p>Actual Output: ''</p>
    </li>
    <li class="list-group-item">
      <p>Expected Returncode: {{ task.expected_return_code }}</p>
      <p>Actual Returncode: ''</p>
    </li>
    <li class="list-group-item">
      <p>Success: true/false</p>
    </li>
  </ul>
</details>
