<h3>Courses</h3>
<div class="clr-row">
    <div class="clr-col">
        <button class="btn btn-success" (click)="openNew()">
            <clr-icon shape="plus"></clr-icon> New Course
        </button>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-4">
        <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>

            <clr-dg-row *clrDgItems="let c of courses" [clrDgItem]="c">
                <clr-dg-cell>{{ c.name }}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>
<new-course #newCourse (added)="refresh()"></new-course> 