<clr-alert
  [clrAlertType]="alertType"
  [clrAlertClosable]="false"
  [(clrAlertClosed)]="!isAlert"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </clr-alert-item>
</clr-alert>
<h3>Courses</h3>
<div class="clr-row">
  <div class="clr-col">
    <button
      class="btn btn-success"
      (click)="openNewWizard()"
      *rbac="['courses.create']"
    >
      <clr-icon shape="plus"></clr-icon> New Course
    </button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <clr-datagrid [clrDisableSelection]="!selectRbac">
      <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="ascSort"
        >Name</clr-dg-column
      >

      <clr-dg-row
        *clrDgItems="let c of courses"
        [clrDgItem]="c"
        [clrDgSelectable]="!modified"
      >
        <clr-dg-action-overflow *ngIf="showActionOverflow">
          <button
            class="action-item"
            (click)="openEditCourseWizard(c)"
            *ngIf="updateRbac"
          >
            Edit
          </button>
          <button
            class="action-item"
            (click)="delete(c)"
            *rbac="['courses.delete']"
          >
            Delete
          </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{ c.id }}</clr-dg-cell>
        <clr-dg-cell>{{ c.name }}</clr-dg-cell>
        <course-details
          *clrIfExpanded
          [course]="c"
          [dragScenarios]="dragScenarios"
          ngProjectAs="clr-dg-row-detail"
        ></course-details>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
<wizard-course
  #addNewCourse
  [dragScenarios]="dragScenarios"
  [wizardCourse]="'create'"
  (coursesRefresher)="refresh()"
></wizard-course>

<wizard-course
  #editcourse
  [wizardCourse]="'edit'"
  [updateRbac]="updateRbac"
  [listScenarios]="listScenarios"
></wizard-course>

<new-course #newCourse (added)="refresh()"></new-course>
<add-scenario
  #addScenario
  [scenarios]="scenarios"
  (selected)="addSelected($event)"
></add-scenario>
<delete-confirmation
  #deleteConfirmation
  (delete)="deleteSelected()"
></delete-confirmation>
