.btn-table {
  line-height: unset;
  height: unset;
  margin: 0 0 0 0;
}

clr-dg-row-detail > div {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.table {
  margin-top: 0;
}

button.btn-table {
  margin-left: 5px;
}
