<form [formGroup]="formGroup" clrForm (change)="onFormChanged()">
  @if (groupType === FormGroupType.LIST) {
    @for (group of groupedInputs | keyvalue; track group) {
      <h3>{{ group.key }}</h3>
      @for (input of group.value; track input) {
        <app-typed-input
          [input]="input"
          [formGroup]="formGroup"
          (change)="onFormChanged()"
        ></app-typed-input>
      }
      <hr />
    }
  } @else if (
    groupType === FormGroupType.TABS ||
    groupType === FormGroupType.TABS_VERTICAL
  ) {
    <clr-tabs
      [clrLayout]="
        groupType === FormGroupType.TABS_VERTICAL ? 'vertical' : 'horizontal'
      "
    >
      @for (group of groupedInputs | keyvalue; track group; let i = $index) {
        <clr-tab #tab>
          <button clrTabLink [id]="'tablink-' + i" (click)="activeTab = i">
            {{ group.key }}
          </button>
          <clr-tab-content [id]="'content-' + i" *clrIfActive="activeTab === i">
            @for (input of group.value; track input) {
              <app-typed-input
                [input]="input"
                [formGroup]="formGroup"
                (change)="onFormChanged()"
              ></app-typed-input>
            }
          </clr-tab-content>
        </clr-tab>
      }
    </clr-tabs>
  }
</form>
