<form [formGroup]="formGroup" clrForm (change)="onFormChanged()">
  <ng-container [ngSwitch]="groupType">
    <ng-container *ngSwitchCase="FormGroupType.LIST">
      <ng-container *ngFor="let group of groupTypedInputs() | keyvalue">
        <h3>{{ group.key }}</h3>
        <ng-container *ngFor="let input of group.value">
          <app-typed-input
            [input]="input"
            [formGroup]="formGroup"
            (change)="onFormChanged()"
          ></app-typed-input>
        </ng-container>
        <hr />
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="FormGroupType.TABS">
      <clr-tabs>
        <clr-tab *ngFor="let group of groupTypedInputs() | keyvalue" #tab>
          <button clrTabLink [id]="group.key">
            {{ group.key }}
          </button>
          <clr-tab-content *clrIfActive>
            Content:  {{ group.key }}
            <ng-container *ngFor="let input of group.value">
              <app-typed-input
                [input]="input"
                [formGroup]="formGroup"
                (change)="onFormChanged()"
              ></app-typed-input>
            </ng-container>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </ng-container>
  </ng-container>
</form>
