.array-input-container {
  //display: inline-block;
  display: flex;
  align-items: center;
  gap: 10px; /* adjust this value to add space between elements */
}

.map-input-container {
  //display: inline-block;
  display: flex;
  align-items: center;
  gap: 10px; /* adjust this value to add space between elements */
}
