<!--Scalar-->
<ng-container *ngIf="isScalarType(input)">
  <app-typed-input-field
    [input]="input"
    [formGroup]="formGroup"
    [formControlRef]="getFormControl(input.id)"
    (change)="inputChanged()"
  >
  </app-typed-input-field>
</ng-container>

<!--Map-->
<ng-container *ngIf="isMapType(input)">
  <div>
    <b
      ><label>{{ input.name }}</label></b
    >
    <div
      *ngFor="let ctrl of getControls(input.id); let i = index"
      class="map-input-container"
    >
      <clr-input-container>
        <label class="clr-sr-only">Map Key {{ i + 1 }}</label>
        <input
          clrInput
          [formControl]="getMapFormControl(ctrl, 'key')"
          placeholder="Key"
          (input)="inputChanged()"
        />
      </clr-input-container>
      <app-typed-input-field
        [input]="input"
        [formGroup]="formGroup"
        [formControlRef]="getMapFormControl(ctrl, 'value')"
        (change)="inputChanged()"
      >
      </app-typed-input-field>
      <button
        class="btn btn-danger-outline"
        type="button"
        (click)="removeArrayElement(input, i)"
      >
        <clr-icon shape="trash"></clr-icon> Remove
      </button>
    </div>
    <button
      class="btn btn-outline"
      type="button"
      (click)="addMapElement(input)"
    >
      Add Element
    </button>
  </div>
</ng-container>

<!--Array-->
<ng-container *ngIf="isArrayType(input)" [formGroup]="formGroup">
  <div>
    <b
      ><label>{{ input.name }}</label></b
    >
    <div
      *ngFor="let ctrl of getControls(input.id); let i = index"
      class="array-input-container"
    >
      <app-typed-input-field
        [input]="input"
        [formGroup]="formGroup"
        [formControlRef]="getArrayFormControl(ctrl)"
        (change)="inputChanged()"
      >
      </app-typed-input-field>
      <button
        class="btn btn-danger-outline"
        type="button"
        (click)="removeArrayElement(input, i)"
      >
        <clr-icon shape="trash"></clr-icon> Remove
      </button>
    </div>
    <button
      class="btn btn-outline"
      type="button"
      (click)="addArrayElement(input)"
    >
      Add Element
    </button>
  </div>
</ng-container>
