@if (input.isEnum()) {
  <clr-select-container>
    @if (input.representation === TypedInputRepresentation.SCALAR) {
      <label [for]="input.id">{{ input.name }}</label>
    } @else {
      <label class="invisible-label"></label>
    }
    <select
      clrSelect
      [formControl]="formControlRef"
      [id]="input.id"
      class="wide-dropdown"
    >
      @for (enumValue of input.getTypedInputEnumValues(); track enumValue) {
        <option [value]="enumValue">
          {{ enumValue }}
        </option>
      }
    </select>
    <clr-control-error *clrIfError="'invalidenumvalue'"
      >Invalid enum value</clr-control-error
    >
    <clr-control-error *clrIfError="'required'"
      >Value required</clr-control-error
    >
    <clr-control-error *clrIfError="'duplicatearrayvalue'"
      >Dupliacte values not allowed</clr-control-error
    >
  </clr-select-container>
}
@if (!input.isEnum()) {
  <ng-container class="input-container">
    @switch (input.type) {
      @case (TypedInputType.STRING) {
        <clr-input-container>
          @if (input.representation === TypedInputRepresentation.SCALAR) {
            <label [for]="input.id">{{ input.name }}</label>
          } @else {
            <label class="invisible-label"></label>
          }
          <input
            clrInput
            type="text"
            [placeholder]="input.getPlaceholder()"
            [formControl]="formControlRef"
            [id]="input.id"
            (input)="inputChanged()"
          />
          <clr-control-error *clrIfError="'duplicatearrayvalue'"
            >Dupliacte values not allowed</clr-control-error
          >
          <clr-control-error *clrIfError="'required'"
            >Value required</clr-control-error
          >
          <clr-control-error *clrIfError="'pattern'"
            >Value must be of pattern:
            {{ input.validation.pattern }}</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'"
            >Minimum length of
            {{ input.getMinLength() ?? 0 }}</clr-control-error
          >
          <clr-control-error *clrIfError="'maxlength'"
            >Maximum length of {{ input.getMaxLength() }}</clr-control-error
          >
        </clr-input-container>
      }
      @case (TypedInputType.INTEGER) {
        <clr-input-container>
          @if (input.representation === TypedInputRepresentation.SCALAR) {
            <label [for]="input.id">{{ input.name }}</label>
          } @else {
            <label class="invisible-label"></label>
          }
          <input
            clrInput
            type="number"
            step="1"
            [placeholder]="input.getPlaceholder()"
            [formControl]="formControlRef"
            [id]="input.id"
            (input)="inputChanged()"
          />
          <clr-control-error *clrIfError="'required'"
            >Required value of type integer</clr-control-error
          >
          <clr-control-error *clrIfError="'invalid'"
            >Must be of type integer</clr-control-error
          >
          <clr-control-error *clrIfError="'min'"
            >Minimum of {{ input.getMinimum() }}</clr-control-error
          >
          <clr-control-error *clrIfError="'max'"
            >Maximum of {{ input.getMaximum() }}</clr-control-error
          >
        </clr-input-container>
      }
      @case (TypedInputType.FLOAT) {
        <clr-input-container>
          @if (input.representation === TypedInputRepresentation.SCALAR) {
            <label [for]="input.id">{{ input.name }}</label>
          } @else {
            <label class="invisible-label"></label>
          }
          <input
            clrInput
            type="number"
            step="any"
            [placeholder]="input.getPlaceholder()"
            [formControl]="formControlRef"
            [id]="input.id"
            (input)="inputChanged()"
          />
          <clr-control-error *clrIfError="'required'"
            >Required value of type float</clr-control-error
          >
          <clr-control-error *clrIfError="'invalid'"
            >Must be of type float</clr-control-error
          >
          <clr-control-error *clrIfError="'min'"
            >Minimum of {{ input.getMinimum() }}</clr-control-error
          >
          <clr-control-error *clrIfError="'max'"
            >Maximum of {{ input.getMaximum() }}</clr-control-error
          >
        </clr-input-container>
      }
      @case (TypedInputType.BOOLEAN) {
        <clr-checkbox-container>
          @if (input.representation === TypedInputRepresentation.SCALAR) {
            <label [for]="input.id">{{ input.name }}</label>
          } @else {
            <label class="invisible-label"></label>
          }
          <clr-checkbox-wrapper>
            <input
              type="checkbox"
              clrCheckbox
              [formControl]="formControlRef"
              [id]="input.id"
            />
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      }
    }
  </ng-container>
}
