clr-input-container.table-input {
    margin-top: 0 !important;
}

clr-dg-row-detail {
    padding-top: 0;

    table {
        margin-top: 0;
        background-color: transparent;
        width: auto
    }
}

clr-alert.bottom {
    position: absolute;
    bottom: 3rem;
}