<clr-wizard
  #wizard
  [(clrWizardOpen)]="wzOpen"
  clrWizardSize="xl"
  (clrWizardOnFinish)="save()"
  (clrWizardOnCancel)="close()"
  class="customized"
>
  <clr-wizard-title>New Scheduled Event</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  @if (checkingEnvironments) {
    <clr-wizard-page>
      <ng-template clrPageTitle>Event Details</ng-template>
      <span class="spinner"> Please wait... </span>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Event Times</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Course(s)</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Scenario(s)</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Environment(s)</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Virtual Machines</ng-template>
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Finalize</ng-template>
    </clr-wizard-page>
  } @else {
    <clr-wizard-page [clrWizardPageNextDisabled]="!eventDetails.valid">
      <ng-template clrPageTitle>Event Details</ng-template>
      <form clrForm [formGroup]="eventDetails">
        <clr-input-container>
          <label>Name</label>
          <input
            clrInput
            type="text"
            placeholder="Event name"
            name="event_name"
            formControlName="event_name"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Event name is required</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'"
            >Event name must be longer than 4 characters</clr-control-error
          >
          <clr-control-error *clrIfError="'notUnique'"
            >Event name must be unique</clr-control-error
          >
        </clr-input-container>
        <clr-input-container>
          <label>Description</label>
          <input
            clrInput
            type="text"
            placeholder="Event description"
            name="description"
            formControlName="description"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Event description is required</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'"
            >Event description must be longer than 4 characters
          </clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Access Code</label>
          <input
            clrInput
            type="text"
            placeholder="Access code"
            name="access_code"
            formControlName="access_code"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Access code is required</clr-control-error
          >
          <clr-control-error *clrIfError="'minlength'"
            >Access code must be longer than 5 characters</clr-control-error
          >
          <clr-control-error *clrIfError="'pattern'"
            >Access code must
            <ul>
              <li>
                contain only lowercase alphanumeric characters, '-', or '.'
              </li>
              <li>start and end with an alphanumber character</li>
            </ul>
          </clr-control-error>
          <clr-control-error *clrIfError="'notUnique'"
            >Access code is already in use</clr-control-error
          >
        </clr-input-container>
        <clr-toggle-container>
          <clr-toggle-wrapper>
            <input
              type="checkbox"
              clrToggle
              name="restricted_bind"
              formControlName="restricted_bind"
            />
            <label>Restricted Bind</label>
          </clr-toggle-wrapper>
          <clr-control-helper
            >Restricted bind prevents users from reserving VM resources not
            associated with this Scheduled Event.</clr-control-helper
          >
        </clr-toggle-container>
        <clr-toggle-container>
          <clr-toggle-wrapper>
            <input
              type="checkbox"
              clrToggle
              name="on_demand"
              formControlName="on_demand"
            />
            <label>On Demand</label>
          </clr-toggle-wrapper>
          <clr-control-helper>
            On demand allocates VM resources when requested by a user instead of
            pre-provisioning.
          </clr-control-helper>
        </clr-toggle-container>
        <clr-toggle-container>
          <clr-toggle-wrapper>
            <input
              type="checkbox"
              clrToggle
              name="printable"
              formControlName="printable"
            />
            <label>Printable</label>
          </clr-toggle-wrapper>
          <clr-control-helper>
            Printable enables an option for users to print scenario content or
            save it as PDF file.
          </clr-control-helper>
        </clr-toggle-container>
      </form>
    </clr-wizard-page>
    <clr-wizard-page
      [clrWizardPageNextDisabled]="
        !se.start_time || !se.end_time || se.start_time >= se.end_time
      "
    >
      <ng-template clrPageTitle>Event Times</ng-template>
      <div class="clr-row">
        <div class="clr-col">
          Start Time:
          {{ se.start_time ? (se.start_time | date: "long") : "" }} <br />
          <clr-signpost>
            <button class="btn btn-link" clrSignpostTrigger>
              Set Start Time
            </button>
            <clr-signpost-content *clrIfOpen #startTimeSignpost>
              <dl-date-time-picker
                (change)="setStartTime($event)"
                startView="day"
                maxView="year"
                minView="minute"
                [minuteStep]="30"
              ></dl-date-time-picker>
            </clr-signpost-content>
          </clr-signpost>
        </div>
      </div>
      <div>
        <button class="btn btn-outline" (click)="quickStartTime()">
          Start now
        </button>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          End Time: {{ se.end_time ? (se.end_time | date: "long") : "" }}
          <br />
          <clr-signpost>
            <button class="btn btn-link" clrSignpostTrigger>
              Set End Time
            </button>
            <clr-signpost-content *clrIfOpen #endTimeSignpost>
              <dl-date-time-picker
                (change)="setEndTime($event)"
                startView="day"
                maxView="year"
                minView="minute"
                [minuteStep]="30"
              ></dl-date-time-picker>
            </clr-signpost-content>
          </clr-signpost>
        </div>
      </div>
      <form
        class="quickset-endtime-form clr-form clr-form-vertical"
        [formGroup]="quicksetEndtimeForm"
      >
        <div class="clr-form-control clr-row no-margin-top">
          <label for="quickset_endtime" class="clr-control-label padding-left">
            <button
              class="btn btn-outline"
              (click)="quickEndTime()"
              [disabled]="!quicksetEndtimeForm.valid"
            >
              Terminate in
            </button>
          </label>
          <div
            class="clr-control-container clr-col-md-10 clr-col-12 block"
            [class.clr-error]="
              quicksetRequired ||
              quicksetEndtimeForm.errors?.invalidQuicksetAmount ||
              quicksetEndtimeForm.errors?.invalidNumber
            "
          >
            <div class="clr-input-wrapper">
              <div class="clr-input-group">
                <input
                  type="number"
                  id="quickset_endtime"
                  formControlName="quickset_endtime"
                  class="clr-input"
                />
                <select formControlName="quickset_unit">
                  <option value="h">Hour(s)</option>
                  <option value="d">Day(s)</option>
                  <option value="w">Week(s)</option>
                  <option value="m">Month(s)</option>
                </select>
              </div>
              <cds-icon
                class="clr-validate-icon"
                shape="exclamation-circle"
              ></cds-icon>
            </div>
            @if (quicksetRequired) {
              <span class="clr-subtext"
                >Please specify when your event should end.</span
              >
            } @else if (quicksetEndtimeForm.errors?.invalidQuicksetAmount) {
              <span class="clr-subtext"> Invalid event duration. </span>
            } @else if (quicksetEndtimeForm.errors?.invalidNumber) {
              <span class="clr-subtext">
                Please enter an integral number.
              </span>
            }
          </div>
        </div>
      </form>
      <p>
        <i> All times are in {{ tz }} (browser detected) </i>
      </p>
      @if (se.start_time && se.end_time && se.start_time >= se.end_time) {
        <clr-alert
          [clrAlertSizeSmall]="true"
          [clrAlertType]="'danger'"
          [clrAlertClosable]="false"
        >
          <clr-alert-item>
            <span class="alert-text">
              Start time must occur before end time!
            </span>
          </clr-alert-item>
        </clr-alert>
      }
    </clr-wizard-page>
    <clr-wizard-page>
      <ng-template clrPageTitle>Select Course(s)</ng-template>
      <i>Expand a row to view scenarios within that course</i>
      <clr-datagrid
        [clrDgSelected]="selectedcourses"
        (clrDgSelectedChange)="coursesSelected($event)"
        [clrDgPreserveSelection]="true"
      >
        <clr-dg-column>Id</clr-dg-column>
        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
        <clr-dg-row *clrDgItems="let c of courses" [clrDgItem]="c">
          <clr-dg-cell>{{ c.id }}</clr-dg-cell>
          <clr-dg-cell>{{ c.name }}</clr-dg-cell>
          <clr-dg-cell>{{ c.description }}</clr-dg-cell>
          <clr-dg-row-detail *clrIfExpanded>
            <table class="table table-noborder">
              <thead>
                <th class="left">Scenario</th>
                <th class="left">Description</th>
              </thead>
              <tbody>
                @for (s of c.scenarios; track s) {
                  <tr>
                    <td class="left">{{ s.name }}</td>
                    <td class="left">{{ s.description }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </clr-dg-row-detail>
        </clr-dg-row>
      </clr-datagrid>
    </clr-wizard-page>
    <clr-wizard-page
      [clrWizardPageNextDisabled]="
        selectedcourses.length == 0 && selectedscenarios.length == 0
      "
    >
      <ng-template clrPageTitle>Select Scenario(s)</ng-template>
      <filter-scenarios
        (filterScenarioEventEmitter)="setScenarioList($event)"
      ></filter-scenarios>
      <clr-datagrid
        [clrDgSelected]="selectedscenarios"
        (clrDgSelectedChange)="scenariosSelected($event)"
        [clrDgPreserveSelection]="true"
      >
        <clr-dg-column [clrDgField]="'id'">Id</clr-dg-column>
        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
        <clr-dg-row *clrDgItems="let s of filteredScenarios" [clrDgItem]="s">
          <clr-dg-cell>{{ s.id }}</clr-dg-cell>
          <clr-dg-cell>{{ s.name }}</clr-dg-cell>
          <clr-dg-cell>{{ s.description }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
      @if (selectedcourses.length == 0 && selectedscenarios.length == 0) {
        <clr-alert
          [clrAlertSizeSmall]="true"
          [clrAlertType]="'warning'"
          [clrAlertClosable]="false"
          class="bottom"
        >
          <clr-alert-item>
            <span class="alert-text">
              You must select at least one course or scenario to proceed
            </span>
          </clr-alert-item>
        </clr-alert>
      }
    </clr-wizard-page>
    <clr-wizard-page
      (clrWizardPageOnLoad)="checkEnvironments()"
      [clrWizardPageNextDisabled]="
        !noVirtualMachinesNeeded && selectedEnvironments.length == 0
      "
    >
      <ng-template clrPageTitle>Select Environment(s)</ng-template>
      @if (checkingEnvironments) {
        <span class="spinner"> Please wait... </span>
      }
      @if (noEnvironmentsAvailable && noVirtualMachinesNeeded) {
        <span
          >VirtualMachines are not needed. Only scenarios/courses without
          Machines were selected.</span
        >
      } @else {
        <span> No suitable environments found. </span>
      }
      @if (unavailableVMTs.length > 0) {
        <span>
          No suitable environments found for the following VM Templates:
        </span>
        <thead>
          <tr>
            <th class="left">ID</th>
          </tr>
        </thead>
        <tbody [formGroup]="simpleModeVmCounts">
          @for (vmt of unavailableVMTs; track vmt) {
            <tr>
              <td class="left">
                {{ vmt }}
              </td>
            </tr>
          }
        </tbody>
      }
      @if (
        !checkingEnvironments &&
        !noEnvironmentsAvailable &&
        unavailableVMTs.length == 0
      ) {
        <clr-datagrid [(clrDgSelected)]="selectedEnvironments">
          <clr-dg-column>
            <cds-icon shape="building"></cds-icon>&nbsp;Environment
          </clr-dg-column>
          <clr-dg-column>
            <cds-icon shape="host"></cds-icon>&nbsp;Count
          </clr-dg-column>
          <clr-dg-row
            *clrDgItems="let ea of availableEnvironments"
            [clrDgItem]="ea"
          >
            <clr-dg-cell>{{ ea.environment }}</clr-dg-cell>
            <clr-dg-cell>
              @for (item of ea.available_count | keyvalue; track item) {
                <span class="label"
                  >{{ getVirtualMachineTemplateName(item.key) }}
                  <span class="badge badge-success">{{
                    item.value
                  }}</span></span
                >
              }
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      }
    </clr-wizard-page>
    <clr-wizard-page
      (clrWizardPageOnLoad)="setupVMSelection()"
      (clrWizardPageNext)="copyVMCounts()"
      [clrWizardPageNextDisabled]="
        (!vmCounts.valid && !simpleMode && !noVirtualMachinesNeeded) ||
        (!simpleModeVmCounts.valid && simpleMode && !noVirtualMachinesNeeded)
      "
    >
      <ng-template clrPageTitle>Select Virtual Machines</ng-template>
      @if (noVirtualMachinesNeeded) {
        VirtualMachines are not needed. Only scenarios/courses without Machines
        were selected.
      } @else {
        <clr-toggle-wrapper>
          <input
            type="checkbox"
            clrToggle
            [(ngModel)]="simpleMode"
            name="simpleMode"
          />
          <label>Simple Mode</label>
        </clr-toggle-wrapper>
        @if (simpleMode) {
          <i
            >In simple mode, define the number of users per environment. Virtual
            machines are calculated for you.</i
          >
          <table class="table table-compact">
            <thead>
              <tr>
                <th class="left">Environment</th>
                <th class="left">Users</th>
              </tr>
            </thead>
            <tbody [formGroup]="simpleModeVmCounts">
              @for (
                fc of simpleModeVmCounts["controls"].envs["controls"].slice(
                  0,
                  selectedEnvironments.length
                );
                track fc;
                let it = $index
              ) {
                @if (selectedEnvironments.length > it) {
                  <tr>
                    <td class="left">
                      {{
                        getEnvironmentName(selectedEnvironments[it].environment)
                      }}
                    </td>
                    <td class="left">
                      <clr-input-container class="table-input">
                        <input
                          clrInput
                          type="number"
                          [formControl]="fc"
                          pattern="^[0-9]*$"
                          min="0"
                          step="1"
                        />
                        <clr-control-error *clrIfError="'max'"
                          >User count higher than max</clr-control-error
                        >
                      </clr-input-container>
                      (max
                      {{ maxUserCounts[selectedEnvironments[it].environment] }})
                    </td>
                  </tr>
                }
              }
              <tr>
                <td class="right">
                  <b>Total</b>
                </td>
                <td class="left">{{ simpleUserTotal() }} users</td>
              </tr>
            </tbody>
          </table>
          <br />
          @if (invalidSimpleEnvironments.length != 0) {
            <i
              >The following environments are incompatible with simple mode:
            </i>
            <clr-signpost>
              <clr-signpost-content *clrIfOpen>
                <h3>Simple Mode Compatibility</h3>
                <p>
                  An environment must be able to support the creation of all
                  types of required VMs, as well as have enough capacity for at
                  least one user (and all their associated VMs).
                </p>
              </clr-signpost-content>
            </clr-signpost>
            <ul>
              @for (s of invalidSimpleEnvironments; track s) {
                <li>{{ s }}</li>
              }
            </ul>
          }
        } @else {
          <i
            >In advanced mode, define the number of virtual machines per
            environment. Remember to account for the number of expected users,
            thus <code>number_of_users * number_of_required_vms</code>.
          </i>
          <p>
            The following VMs are required <b>per user</b>:
            @for (item of requiredVmCounts | keyvalue; track item) {
              <li>{{ item.key }}: {{ item.value }}</li>
            }
          </p>
          <table class="table table-compact">
            <thead>
              <tr>
                <th>Environment</th>
                <th>VM Template</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody [formGroup]="vmCounts">
              @for (groupName of controls(""); track groupName) {
                <ng-container [formGroupName]="groupName">
                  @for (controlName of controls(groupName); track controlName) {
                    <tr>
                      <td>{{ getEnvironmentName(groupName) }}</td>
                      <td>{{ getVirtualMachineTemplateName(controlName) }}</td>
                      <td>
                        <clr-input-container class="table-input">
                          <input
                            clrInput
                            type="number"
                            [formControlName]="controlName"
                            pattern="^[0-9]*$"
                            min="0"
                            step="1"
                          />
                          <clr-control-error *clrIfError="'max'"
                            >VM count higher than max</clr-control-error
                          >
                        </clr-input-container>
                      </td>
                    </tr>
                  }
                </ng-container>
              }
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </clr-wizard-page>
    @if (!isEditMode) {
      <clr-wizard-page
        [clrWizardPageNextDisabled]="isFinishWizardDisabled()"
        (clrWizardPageOnLoad)="updateFormValues()"
      >
        <ng-template clrPageTitle>Finalize</ng-template>
        <p>Confirm the following details before finishing:</p>
        <h4>Basic Information</h4>
        <table class="table table-compact">
          <thead>
            <tr>
              <th>Option</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ se.event_name }}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{ se.description }}</td>
            </tr>
            <tr>
              <td>Access code</td>
              <td>{{ se.access_code }}</td>
            </tr>
            <tr>
              <td>Restricted Bind</td>
              <td>{{ !se.disable_restriction }}</td>
            </tr>
            <tr>
              <td>On demand</td>
              <td>{{ se.on_demand }}</td>
            </tr>
            <tr>
              <td>Start Time</td>
              <td>{{ se.start_time | date: "long" }}</td>
            </tr>
            <tr>
              <td>End Time</td>
              <td>{{ se.end_time | date: "long" }}</td>
            </tr>
            <tr>
              <td>Courses</td>
              <td>
                @for (c of se.courses; track c) {
                  <span class="label">{{ c }}</span>
                }
              </td>
            </tr>
            <tr>
              <td>Scenarios</td>
              <td>
                @for (s of se.scenarios; track s) {
                  <span class="label">{{ s }}</span>
                }
              </td>
            </tr>
          </tbody>
        </table>
        <h4>VM Information</h4>
        @if (noVirtualMachinesNeeded) {
          <span> VirtualMachines are not needed for this ScheduledEvent. </span>
        } @else {
          <table class="table table-compact">
            <thead>
              <tr>
                <th>Environment</th>
                <th>Virtual Machines</th>
              </tr>
            </thead>
            <tbody>
              @for (i of se.required_vms | keyvalue; track i) {
                <tr>
                  <td>{{ getEnvironmentName(i.key) }}</td>
                  <td>
                    @for (q of i.value | keyvalue; track q) {
                      <span class="label"
                        >{{ getVirtualMachineTemplateName(q.key) }}
                        <span class="badge badge-success">{{
                          q.value
                        }}</span></span
                      >
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </clr-wizard-page>
    }
    @if (isEditMode) {
      <clr-wizard-page
        (clrWizardPageOnLoad)="updateFormValues()"
        [clrWizardPageNextDisabled]="isFinishWizardDisabled()"
      >
        <ng-template clrPageTitle>Finalize</ng-template>
        <p>Confirm the following details before finishing:</p>
        <h4>Basic Information</h4>
        <table class="table table-compact">
          <thead>
            <tr>
              <th>Option</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              @if (se.event_name == uneditedScheduledEvent.event_name) {
                <td>
                  {{ se.event_name }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.event_name
                  }}</span>
                  <span class="add-elem">{{ se.event_name }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>Description</td>
              @if (se.description == uneditedScheduledEvent.description) {
                <td>
                  {{ se.description }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.description
                  }}</span>
                  <span class="add-elem">{{ se.description }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>Access code</td>
              @if (se.access_code == uneditedScheduledEvent.access_code) {
                <td>
                  {{ se.access_code }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.access_code
                  }}</span>
                  <span class="add-elem">{{ se.access_code }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>Restricted Bind</td>
              @if (
                se.disable_restriction ==
                uneditedScheduledEvent.disable_restriction
              ) {
                <td>
                  {{ !se.disable_restriction }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    !uneditedScheduledEvent.disable_restriction
                  }}</span>
                  <span class="add-elem">{{ !se.disable_restriction }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>On demand</td>
              @if (se.on_demand == uneditedScheduledEvent.on_demand) {
                <td>
                  {{ se.on_demand }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.on_demand
                  }}</span>
                  <span class="add-elem">{{ se.on_demand }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>Start Time</td>
              @if (!isStartDateAsEditedCheck()) {
                <td>
                  {{ se.start_time | date: "long" }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.start_time | date: "long"
                  }}</span>
                  <span class="add-elem">{{
                    se.start_time | date: "long"
                  }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>End Time</td>
              @if (!isEndDateAsEditedCheck()) {
                <td>
                  {{ se.end_time | date: "long" }}
                </td>
              } @else {
                <td>
                  <span class="del-elem arrow-after">{{
                    uneditedScheduledEvent.end_time | date: "long"
                  }}</span>
                  <span class="add-elem">{{ se.end_time | date: "long" }}</span>
                </td>
              }
            </tr>
            <tr>
              <td>Courses</td>
              <td>
                @for (s of uneditedScheduledEvent.courses; track s) {
                  @if (isCourseInList(s, se.courses)) {
                    <span class="label">{{ s }}</span>
                  } @else {
                    <span class="label del-elem"
                      >{{ s }}<cds-icon shape="trash"></cds-icon>
                    </span>
                  }
                }
                @for (s of se.courses; track s) {
                  @if (!isCourseInList(s, uneditedScheduledEvent.courses)) {
                    <span class="label add-elem"
                      >{{ s }}<cds-icon shape="plus"></cds-icon>
                    </span>
                  }
                }
              </td>
            </tr>
            <tr>
              <td>Scenarios</td>
              <td>
                @for (s of uneditedScheduledEvent.scenarios; track s) {
                  @if (isScenarioInList(s, se.scenarios)) {
                    <span class="label">{{ s }}</span>
                  } @else {
                    <span class="label del-elem"
                      >{{ s }}<cds-icon shape="trash"></cds-icon
                    ></span>
                  }
                }
                @for (s of se.scenarios; track s) {
                  @if (!isScenarioInList(s, uneditedScheduledEvent.scenarios)) {
                    <span class="label add-elem"
                      >{{ s }} <cds-icon shape="plus"></cds-icon
                    ></span>
                  }
                }
              </td>
            </tr>
          </tbody>
        </table>
        @if (!se.on_demand) {
          <clr-alert
            [clrAlertSizeSmall]="true"
            [clrAlertType]="'warning'"
            [clrAlertClosable]="false"
            class="bottom"
          >
            <clr-alert-item>
              <span class="alert-text"> VMs will be started right away </span>
            </clr-alert-item>
          </clr-alert>
        }
        <h4>VM Information</h4>
        @if (noVirtualMachinesNeeded) {
          <span> VirtualMachines are not needed for this ScheduledEvent. </span>
        } @else {
          <table class="table table-compact">
            <thead>
              <tr>
                <th>Environment</th>
                <th>Virtual Machines</th>
              </tr>
            </thead>
            <tbody>
              @for (i of se.required_vms | keyvalue; track i) {
                <tr>
                  <td>{{ getEnvironmentName(i.key) }}</td>
                  <td>
                    @for (q of i.value | keyvalue; track q) {
                      <span class="label">
                        {{ getVirtualMachineTemplateName(q.key) }}&nbsp;
                        @if (
                          getUneditedScheduledEventVMCount(i.key, q.key) ==
                          q.value
                        ) {
                          <span>
                            <span class="badge badge-blue"> {{ q.value }}</span>
                          </span>
                        } @else {
                          <span>
                            <span
                              class="badge badge-danger"
                              style="margin-right: 0"
                            >
                              {{
                                getUneditedScheduledEventVMCount(i.key, q.key)
                              }}</span
                            ><cds-icon
                              shape="arrow"
                              direction="right"
                            ></cds-icon>
                            <span class="badge badge-success">
                              {{ q.value }}</span
                            >
                          </span>
                        }
                      </span>
                    }
                  </td>
                 </tr>
        </tbody>
      </table>
      <h4>SharedVM Information</h4>
          <table class="table table-compact">
            <thead>
              <tr>
                <th>N</th>
                <th>Environment</th>
                <th>Virtual Machines</th>
              </tr>
            </thead>
            <tbody>
              <!-- maybe let's use a clr datagrid here?! -->
              <!-- https://v16.clarity.design/documentation/datagrid -->
                @for(sharedVm of se.shared_vms;track  sharedVm;let i = $index) {
                  <tr >
                    <td>{{ sharedVm.name }}</td>
                    <td>{{ sharedVm.environment }}</td>
                    <td>{{ sharedVm.vmTemplate }}</td>                
                  </tr>
                }
              
            </tbody>
          </table>


























                </tr>
              }
            </tbody>
          </table>
        }
      </clr-wizard-page>
    }
  }
</clr-wizard>
