.code-editor {
    display: block;
    position: relative;
    font-family: monospace;
    line-height: 1.5;
    width: 500px;
    height: 500px;
    outline: solid 1px;
    background-color: #f5f2f0;
}

.code-editor textarea {
    z-index: 2;
    position: absolute;
    white-space: pre-wrap;
    background-color: transparent;
    color: transparent;
    caret-color: black;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border: none;
    overflow: hidden
}

.code-editor textarea:focus {
    outline: none
}

.code-editor code {   
    z-index: 1;
    pointer-events: none;
    white-space: pre-wrap;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: transparent;
    border: none;
}