<clr-stack-view>
    <clr-stack-header>
        Virtual Machines
        <button class="stack-action btn btn-sm btn-link" (click)="addVMSet()" *ngIf="updateRbac">Add VM Set</button>
    </clr-stack-header>
    <clr-stack-block *ngFor="let vmset of vms; let i = index">
        <clr-stack-label>Virtual Machine Set {{ i+1 }} </clr-stack-label>
        <clr-stack-content>
            <button class="btn btn-sm btn-link btn-link-stack" (click)="deleteVMSet(i)" *ngIf="updateRbac">Delete VM
                Set</button>
        </clr-stack-content>
        <clr-stack-block *ngFor="let item of vmset | keyvalue">
            <clr-stack-label>{{ item.key }}</clr-stack-label>
            <clr-stack-content>{{ item.value }} <button class="btn btn-sm btn-link btn-link-stack"
                    (click)="deleteVM(i, item.key)" *ngIf="updateRbac">Delete
                    VM</button></clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label><button class="btn btn-sm btn-link btn-link-stack" (click)="openAddVm(i)" disabled="!allowedAddVm" *ngIf="updateRbac">New
                    VM</button>
            </clr-stack-label>
            <clr-stack-content *ngIf="updateRbac && !allowedAddVm">
                <clr-alert [clrAlertType]="'warning'" [clrAlertSizeSmall]="true" [clrAlertClosable]="false">
                    <clr-alert-item>
                      <span class="alert-text">
                        No permission to list VM templates!
                      </span>
                    </clr-alert-item>
                  </clr-alert>
            </clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>
<new-vm #newvm (vm)="addVM($event)" [listVms]="allowedAddVm"></new-vm>