.dashboardCell {
    display: flex;
    align-items: center;
}

.joinButton {
    justify-content: center;
}

.badge {
    padding: 10px;
}

.datagrid-row-actions {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    height: 100%;
}