
<div *ngFor="let vm of vms">
<div class="card">    
    
    <div class="card-header">
        {{vm.public_ip}} {{vm.environment_id}}
    </div>
    <div class="card-block">
        <div class="card-text">
            <div><clr-icon shape="play" solid></clr-icon> {{vm.id}}</div>
            <div ><clr-icon shape="layers" solid></clr-icon> {{vm.vm_template_id}}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.status }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.tfstate }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.vm_template_id }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.keypair_name }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.vm_claim_id }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.user }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.allocated }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.tainted }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.private_ip }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.environment_id }}</div>
            <div ><clr-icon shape="number-list"></clr-icon> {{ vm.ws_endpoint }}</div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline"  >More Info?</button>
        <button class="btn btn-danger-outline" >Some fancy Action?</button>
    </div>

</div>
</div>