<div class="main-container">
  <header class="header header-7" app-header></header>
  <div class="content-container">
    <div class="content-area">
      <alert #alert></alert>
      <h3>Scheduled Events</h3>
      <div class="clr-row">
        <div class="clr-col">
          <button
            class="btn btn-success"
            (click)="openNew()"
            *rbac="['scheduledevents.create']"
          >
            <cds-icon shape="plus"></cds-icon> New Scheduled Event
          </button>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <clr-datagrid>
            <clr-dg-column [clrDgField]="'event_name'">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'creatorEmail'" *rbac="['users.list']"
              >Creator</clr-dg-column
            >
            <clr-dg-column
              [clrDgField]="'start_time'"
              [clrDgSortOrder]="descSort"
              >Start</clr-dg-column
            >
            <clr-dg-column [clrDgField]="'end_time'">End</clr-dg-column>
            <clr-dg-column [clrDgField]="'courses'" *rbac="['courses.list']"
              >Courses</clr-dg-column
            >
            <clr-dg-column [clrDgField]="'scenarios'" *rbac="['scenarios.list']"
              >Scenarios</clr-dg-column
            >
            <clr-dg-column>
              Status
              <clr-dg-filter>
                <event-status-filter></event-status-filter>
              </clr-dg-filter>
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let se of events">
              @if (showActionOverflow) {
                <clr-dg-action-overflow>
                  @if (allowEdit) {
                    <button class="action-item" (click)="openEdit(se)">
                      Edit
                    </button>
                  }
                  <button class="action-item" (click)="openOtac(se)">
                    OTACs
                  </button>
                  <button
                    class="action-item"
                    (click)="openDelete(se)"
                    *rbac="['scheduledevents.delete']"
                  >
                    Delete
                  </button>
                </clr-dg-action-overflow>
              }
              <clr-dg-cell>{{ se.event_name }}</clr-dg-cell>
              <clr-dg-cell *rbac="['users.list']">{{
                se.creatorEmail ? se.creatorEmail : '...loading'
              }}</clr-dg-cell>
              <clr-dg-cell>{{ se.start_time | date: 'long' }}</clr-dg-cell>
              <clr-dg-cell>{{ se.end_time | date: 'long' }}</clr-dg-cell>
              <clr-dg-cell *rbac="['courses.list']">
                @if (se.courses && !se.courseNames) {
                  ...loading
                }
                @for (c of se.courseNames; track c) {
                  <span class="label">{{ c }}</span>
                }
              </clr-dg-cell>
              <clr-dg-cell *rbac="['scenarios.list']">
                @if (se.scenarios && !se.scenarioNames) {
                  ...loading
                }
                @for (s of se.scenarioNames; track s) {
                  <span class="label">{{ s }}</span>
                }
              </clr-dg-cell>
              <clr-dg-cell>
                @if (se.active && se.provisioned && !se.finished && se.ready) {
                  <cds-icon shape="clock"></cds-icon> In Progress
                } @else if (!se.active) {
                  <cds-icon shape="times"></cds-icon> Inactive
                } @else if (se.finished) {
                  <cds-icon shape="check"></cds-icon> Finished
                }
              </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>

      <new-scheduled-event
        #wizard
        (updated)="newupdated()"
        [event]="editingEvent"
      ></new-scheduled-event>

      <app-otacmanagement
        [open]="otacModalOpen"
        [scheduledEvents]="openModalEvents.asObservable()"
        (closeEvent)="otacModalOpen = false"
      ></app-otacmanagement>

      <clr-modal #deletemodal [(clrModalOpen)]="deleteopen">
        <h3 class="modal-title">Confirm Delete</h3>
        <div class="modal-body">
          <p>Are you sure you want to delete this scheduled event?</p>
          <p>Doing so will clear any access codes and VM registrations.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="deleteopen = false"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger-outline"
            (click)="doDelete()"
          >
            Delete
          </button>
        </div>
      </clr-modal>
    </div>
  </div>
</div>
