
  <table>
    <tr>
      <th class="color">Progress</th>
      <th>Username</th>
      <th>Scenario</th>
      <th>Course</th>
      <th>Time</th>
      <th class="end step">Current &nbsp;&nbsp;/ </th>
      <th class="small-gap step">Max Step</th>
      <th class="center">Action</th>
    </tr>
    <tr *ngFor="let progress of progressList">
      <td class="color"><progress
        class="{{ getProgressColorClass(progress) }}"
        [value]="getProgress(progress) || 0"
        max="100"
      ></progress></td>
      <td class="pointer" (click)="progressFilterName(progress)">{{ getUsername(progress) }}</td>
      <td><cds-icon shape="play" solid></cds-icon> {{ progress.scenario_name }} </td>
      <td><cds-icon shape="layers" solid></cds-icon> {{ progress.course_name }}</td>
      <td><cds-icon shape="clock"></cds-icon> {{ timeSince(progress.started) }}</td>
      <td class="end step"><cds-icon shape="number-list"></cds-icon> {{ progress.current_step }}&nbsp;&nbsp;/ </td>
      <td class="small-gap step">{{ progress.total_step }}</td>
      <td class="center action pointer">
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button clrDropdownTrigger aria-label="Dropdown button">
            <cds-icon shape="ellipsis-horizontal" size="24" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="left-top" *clrIfOpen>
            <div 
              aria-label="Dropdown header info" 
              (click)="openInfo(progress)" 
              clrDropdownItem
            >Info</div>
            <div 
              aria-label="Dropdown header join" 
              clrDropdownItem
              class="dropdown-item"
              (click)="openTerminalWindow(progress)"
              [clrDisabled]="progress.finished"
              *rbac="[
                'sessions.get',
                'courses.get',
                'progresses.list',
                'scenarios.get',
                'virtualmachineclaims.get'
              ]"
              >Join Session</div>
            <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
            <div 
              class="dropdown-item"
              (click)="terminateSession(progress)"
              [clrDisabled]="progress.finished"
              clrDropdownItem
              *rbac="['sessions.update']"
            >Terminate Session</div>
          </clr-dropdown-menu>
        </clr-dropdown>

        <progress-info
          #progressInfo
          [progress]="progress"
          [pause]="pause">
        </progress-info>
      </td>
    </tr>
  </table>