
  
  <div class="flex-header" *ngIf="index===0">
    <div class="flex-cell">Status</div>
    <div class="flex-cell">Username</div>
    <div class="flex-cell">Scenario</div>
    <div class="flex-cell">Course</div>
    <div class="flex-cell-small">Progress</div>
    <div class="flex-cell">Time</div>
</div>

<div class="flex-row">
    <div class="flex-cell-color progress">
        <progress
          class="{{ getProgressColorClass() }}"
          [value]="getProgress() || 0"
          max="100"
        ></progress>
    </div>
    <div class="flex-cell">{{ getUsername() }} </div>
    <div class="flex-cell"><cds-icon shape="play" solid></cds-icon> {{ progress.scenario_name }}</div>
    <div class="flex-cell"><cds-icon shape="layers" solid></cds-icon> {{ progress.course_name }}</div>
    <div class="flex-cell-small"><cds-icon shape="number-list"></cds-icon> {{ progress.current_step }} / {{ progress.total_step }}</div>
    <div class="flex-cell"><cds-icon shape="clock"></cds-icon> {{ timeSince(progress.started) }}</div>
</div>