

.progress {
    margin-top: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 8px;
      }

    th{
        background-color: #ddddddcc;
    }

    tr:hover {
        background-color: rgba(255, 127, 80, 0.63);
    }
    cds-icon{
        margin-right: 10px;
    }
    progress {
        width: 60px;
        vertical-align: middle;
    }

    .pointer {
        cursor: pointer;
    }

    .end{
        text-align: end;
    }

    .center{
        text-align: center;
    }

    .small-gap{
        padding: 0px;
    }

    .color{
        width: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .step{
        width: 88px;
    }

    .action{
        width: 60px;
    }

    .status-provisioning::-moz-progress-bar{
        background-color:  var(--clr-color-warning-100, yellow);
    }
    
    .status-running::-moz-progress-bar{
        background-color:  var(--clr-progress-default-color,#54cbf2);
    }
    
    .status-finished::-moz-progress-bar{
        background-color:  var(--clr-color-danger-100,red);
    }
    
    .status-success::-moz-progress-bar{
        background-color:  var(--clr-color-success-100,green);
    }
}