<div [clrLoading]="loading">
  @if (currentEnvironment) {
    <clr-stack-view>
      <clr-stack-block>
        <clr-stack-label>Basic Information</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label class="stackbox-header">Option</clr-stack-label>
          <clr-stack-content class="stackbox-header">Value</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>DNS Suffix</clr-stack-label>
          <clr-stack-content>{{
            currentEnvironment.dnssuffix
          }}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
          <clr-stack-label>Websocket Endpoint</clr-stack-label>
          <clr-stack-content>{{
            currentEnvironment.ws_endpoint
          }}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block>
        <clr-stack-label>Environment Specifics</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label class="stackbox-header">Key</clr-stack-label>
          <clr-stack-content class="stackbox-header">Value</clr-stack-content>
        </clr-stack-block>
        @for (
          item of currentEnvironment.environment_specifics | keyvalue;
          track item
        ) {
          <clr-stack-block>
            <clr-stack-label>{{ item.key }}</clr-stack-label>
            <clr-stack-content>{{ item.value }}</clr-stack-content>
          </clr-stack-block>
        }
      </clr-stack-block>
      <clr-stack-block [(clrSbExpanded)]="templateMappingsExpanded">
        <clr-stack-label>Template Mappings</clr-stack-label>
        <clr-stack-content>
          <button
            class="btn btn-sm btn-link btn-link-stack"
            (click)="expandAll($event)"
          >
            Expand All
          </button>
          <button
            class="btn btn-sm btn-link btn-link-stack"
            (click)="collapseAll($event)"
          >
            Collapse All
          </button>
        </clr-stack-content>
        @for (
          template of currentEnvironment.template_mapping | keyvalue;
          track template;
          let i = $index
        ) {
          <clr-stack-block [(clrSbExpanded)]="stackBoxExpanded[i]">
            <clr-stack-label>{{
              getVirtualMachineTemplateName(template.key)
            }}</clr-stack-label>
            (Limit: {{ getLimit(template.key) }})
            <clr-stack-block>
              <clr-stack-label class="stackbox-header">Key</clr-stack-label>
              <clr-stack-content class="stackbox-header"
                >Value</clr-stack-content
              >
            </clr-stack-block>
            @for (item of template.value | keyvalue; track item) {
              <clr-stack-block>
                <clr-stack-label>{{ item.key }}</clr-stack-label>
                <clr-stack-content>{{ item.value }}</clr-stack-content>
              </clr-stack-block>
            }
          </clr-stack-block>
        }
      </clr-stack-block>
      @if (
        currentEnvironment.ip_translation_map &&
        !isEmpty(currentEnvironment.ip_translation_map)
      ) {
        <clr-stack-block>
          <clr-stack-label>IP Mappings</clr-stack-label>
          <clr-stack-block>
            <clr-stack-label class="stackbox-header">From</clr-stack-label>
            <clr-stack-content class="stackbox-header">To</clr-stack-content>
          </clr-stack-block>
          @for (
            item of currentEnvironment.ip_translation_map | keyvalue;
            track item
          ) {
            <clr-stack-block>
              <clr-stack-label>{{ item.key }}</clr-stack-label>
              <clr-stack-content>{{ item.value }}</clr-stack-content>
            </clr-stack-block>
          }
        </clr-stack-block>
      }
    </clr-stack-view>
  } @else {
    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text"> No content available! </span>
      </clr-alert-item>
    </clr-alert>
  }
</div>
