.stackbox-header {
  font-weight: bold;
}

:host ::ng-deep .stack-view .stack-children .stack-block-content {
  background-color: inherit;
}

:host ::ng-deep .stack-view .stack-view-key {
  align-self: center;
}
