<alert #alert></alert>
<div class="clr-row">
  <div class="clr-col-4">
    <button
      class="btn btn-success-outline btn-sm"
      (click)="newAccessCode = true"
      *rbac="['users.update']"
    >
      <cds-icon shape="plus"></cds-icon> Add Access Code
    </button>
    @if (newAccessCode) {
      <form clrForm [formGroup]="newAccessCodeForm">
        <clr-input-container>
          <label class="clr-col-md-4">Access Code</label>
          <input
            class="clr-col-md-6"
            clrInput
            type="text"
            name="access_code"
            formControlName="access_code"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Access code required.</clr-control-error
          >
          <clr-control-error *clrIfError="'minLength'"
            >Access code must be longer than 4 characters
          </clr-control-error>
        </clr-input-container>
        <div class="col-md-2">
          <button
            class="btn btn-success btn-sm"
            [disabled]="!newAccessCodeForm.valid"
            (click)="saveAccessCode()"
          >
            Save
          </button>
        </div>
      </form>
    }
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column>Access Code</clr-dg-column>

      <clr-dg-row *clrDgItems="let a of user.access_codes" [clrDgItem]="a">
        <clr-dg-action-overflow *rbac="['users.update']">
          <button class="action-item" (click)="deleteAccessCode(a)">
            Delete
          </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{ a }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
