@import "./theme.scss";
@import "../node_modules/@clr/ui/src/main.scss";
@import "../node_modules/@angular/cdk/overlay-prebuilt.css";

.row {
  @extend .clr-row;
}

.col {
  @extend .clr-col;
}

.col-10 {
  @extend .clr-col-10;
}

/* added because of the edit step stack view improperly rendering at 55vh */
.modal .stack-view {
  height: unset !important;
}

/* created compact stack view */
clr-stack-view.compact {
  .stack-view .stack-block-label {
    line-height: 1rem;
  }
}

.clr-accordion-inner-content {
  padding: 0rem !important;
}

/* Dragula Stuff */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.table-input {
  margin-top: 0 !important;
}

.btn-table {
  line-height: unset;
  height: unset;
  margin: 0 0 0 0;
}

// .clr_select_disabled > div.datagrid-row-master > div:first-child {
//     display: none;
// }

clr-datagrid.clr_disable_selection div.datagrid-row-master>div:first-child {
  display: none;
}

.modal-body-wrapper {
  width: 100%;
  margin-bottom: auto;
}

/* added because the modal-body is improperly rendering at 70vh,
overflows the modal and hence displays an unneeded scrollbar */
.modal-body {
  min-height: unset !important;
}

// let's improve the user experience for hovering on stepnav-links within a wizard
.clr-wizard.customized .clr-wizard-stepnav-item {
  &:hover .clr-wizard-stepnav-link {
    background-color: $clr-global-selection-color;
    color: $clr-color-action-800;
  }
}

.cdk-overlay-container {
  z-index: 9999;
}

.cdk-overlay-container .tooltip-content p {
  margin: 0px;
  color: var(--clr-tooltip-color, #fff);
}

clr-signpost clr-signpost-content .signpost-content-body {
  overflow-y: visible;
}

.status-provisioning {
  --clr-progress-default-color: var(--clr-color-warning-300, yellow);
}

.status-running {
  --clr-progress-default-color: var(--clr-color-action-600, #54cbf2);
}

.status-finished {
  --clr-progress-default-color: var(--clr-color-danger-400, red);
}

.status-success {
  --clr-progress-default-color: var(--clr-color-success-500, green);
}