<div class="split-grid">
  @if (!readonly) {
    <h4 style="margin-bottom: 0.4rem">Tasks</h4>
    <button
      class="btn btn-sm btn-link add-task-btn"
      (click)="addTask()"
      *rbac="['scenarios.update']"
    >
      New Task
    </button>
  }
</div>

<clr-accordion>
  @for (task of editTasks; track task; let i = $index) {
    <clr-accordion-panel (clrAccordionPanelOpenChange)="applyChanges()">
      <clr-accordion-title style="width: 100%"
        ><div class="split-grid">
          <div>{{ task.vmName }}: {{ task.name }}</div>
          @if (!readonly) {
            <button
              class="btn btn-sm btn-link remove-task-btn"
              (click)="deleteTask(task.id)"
              *rbac="['scenarios.update']"
            >
              Delete Task
            </button>
          }
        </div>
      </clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        @if (!readonly) {
          <app-task-form
            [virtualMachineNames]="vmNames"
            [editTask]="task"
            (taskChanged)="updateTask($event)"
          ></app-task-form>
        } @else {
          <app-readonly-task [editTask]="task"></app-readonly-task>
        }
      </clr-accordion-content>
    </clr-accordion-panel>
  }
</clr-accordion>
