<form clrForm [formGroup]="form">
  <clr-combobox-container>
    <label>API Groups</label>
    <clr-combobox
      #apiGroupsCombobox
      formControlName="apiGroups"
      name="apiGroups"
      clrMulti="true"
    >
      <ng-container *clrOptionSelected="let apiSelected">
        {{ apiSelected }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="let apiGroup of apiGroups"
          [clrValue]="apiGroup"
        >
          <cds-icon shape="node-group"></cds-icon> {{ apiGroup }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error>API group is required.</clr-control-error>
    <clr-control-helper>
      <div class="clr-row">
        <div class="clr-col">
          <a href="javascript://" (click)="clearField('api')"
            >Clear API Groups</a
          >
        </div>
        <div class="clr-col">
          <a href="javascript://" (click)="addAll('api')">Add All API Groups</a>
        </div>
      </div>
    </clr-control-helper>
  </clr-combobox-container>

  <clr-combobox-container>
    <label>Resources</label>
    <clr-combobox formControlName="resources" name="resources" clrMulti="true">
      <ng-container *clrOptionSelected="let resourceSelected">
        {{ resourceSelected }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="let resource of resources"
          [clrValue]="resource"
        >
          <cds-icon shape="node"></cds-icon> {{ resource }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error>Resource is required.</clr-control-error>
    <clr-control-helper>
      <div class="clr-row">
        <div class="clr-col">
          <a href="javascript://" (click)="clearField('resources')"
            >Clear Resources</a
          >
        </div>
        <div class="clr-col">
          <a href="javascript://" (click)="addAll('resources')"
            >Add All Resources</a
          >
        </div>
      </div>
    </clr-control-helper>
  </clr-combobox-container>

  <clr-combobox-container>
    <label>Verbs</label>
    <clr-combobox formControlName="verbs" name="verbs" clrMulti="true">
      <ng-container *clrOptionSelected="let verbSelected">
        {{ verbSelected }}
      </ng-container>
      <clr-options>
        <clr-option *clrOptionItems="let verb of verbs" [clrValue]="verb">
          <cds-icon shape="bolt"></cds-icon> {{ verb }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error>Verb is required.</clr-control-error>
    <clr-control-helper>
      <div class="clr-row">
        <div class="clr-col">
          <a href="javascript://" (click)="clearField('verbs')">Clear Verbs</a>
        </div>
        <div class="clr-col">
          <a href="javascript://" (click)="addAll('verbs')">Add All Verbs</a>
        </div>
      </div>
    </clr-control-helper>
  </clr-combobox-container>
</form>
