<form clrForm [formGroup]="courseDetails">
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="course_name" required />
    <clr-control-error *clrIfError="'required'"
      >Course name is required</clr-control-error
    >
    <clr-control-error *clrIfError="'minlength'"
      >Course name must be longer than 4 characters
    </clr-control-error>
    <clr-control-error *clrIfError="'pattern'">
      Non latin letters is forbidden
    </clr-control-error>
  </clr-input-container>
  <clr-textarea-container>
    <label>Description</label>
    <textarea
      clrTextarea
      formControlName="course_description"
      name="course_description"
      required
    ></textarea>
    <clr-control-error *clrIfError="'required'"
      >Course description is required</clr-control-error
    >
    <clr-control-error *clrIfError="'minlength'"
      >Course description must be longer than 4 characters
    </clr-control-error>
    <clr-control-error *clrIfError="'pattern'">
      Non latin letters is forbidden
    </clr-control-error>
  </clr-textarea-container>

  <clr-input-container>
    <label>Image Path</label>
    <input
      clrInput
      placeholder="https://..."
      type="url"
      formControlName="header_image_path"
    />
    <clr-control-error *clrIfError="'invalidUrl'"
      >Must be either a valid URL pointing to an image (.jpeg | .jpg | .gif |
      .png | .svg) or empty</clr-control-error
    >
    <clr-control-error *clrIfError="'pattern'"
      >Must be either a valid URL pointing to an image (.jpeg | .jpg | .gif |
      .png | .svg) or empty</clr-control-error
    >
  </clr-input-container>

  <div class="clr-form-control clr-row">
    <label for="keepalive_amount" class="clr-control-label"
      >Keepalive Duration</label
    >
    <div
      class="clr-control-container clr-col-md-10 clr-col-12"
      [class.clr-error]="
        keepaliveRequired || courseDetails.errors?.invalidKeepalivePeriod
      "
    >
      <div class="clr-input-wrapper">
        <div class="clr-input-group">
          <input
            type="number"
            id="keepalive_amount"
            formControlName="keepalive_amount"
            class="clr-input"
          />
          <select formControlName="keepalive_unit">
            <option value="h">Hour(s)</option>
            <option value="m">Minute(s)</option>
          </select>
        </div>
        <cds-icon
          class="clr-validate-icon"
          shape="exclamation-circle"
        ></cds-icon>
      </div>
      @if (
        !keepaliveRequired && !courseDetails.errors?.invalidKeepalivePeriod
      ) {
        <span class="clr-subtext"
          >Period before VMs are reaped upon user inactivity.</span
        >
      } @else if (keepaliveRequired) {
        <span class="clr-subtext">Keepalive duration is required.</span>
      } @else if (courseDetails.errors?.invalidKeepalivePeriod) {
        <span class="clr-subtext"
          >Invalid keepalive period. Valid periods: at least 1m.</span
        >
      }
    </div>
  </div>
  <clr-toggle-container>
    <clr-toggle-wrapper>
      <input
        type="checkbox"
        clrToggle
        name="is_learnpath"
        formControlName="is_learnpath"
      />
      <label>Learning Path</label>
    </clr-toggle-wrapper>
    <clr-control-helper>
      Whether course is presented as a learning Path.
      <clr-signpost>
        <clr-signpost-content *clrIfOpen>
          <h3>Learning Path</h3>
          <p>
            A Learning Path assumes, the Scenarios in this course are supposed
            to be taken in order, which will be represented in the users UI.
            This prevents the usage of Dynamic Scnearios.
          </p>
        </clr-signpost-content>
      </clr-signpost>
    </clr-control-helper>
  </clr-toggle-container>
  @if (courseDetails.value.is_learnpath) {
    <clr-toggle-container>
      <clr-toggle-wrapper>
        <input
          type="checkbox"
          clrToggle
          name="is_learnpath_strict"
          formControlName="is_learnpath_strict"
        />
        <label>Unskippable Scenarios</label>
      </clr-toggle-wrapper>
      <clr-control-helper
        >Whether the user can skip Scenarios in the Learning
        Path.</clr-control-helper
      >
    </clr-toggle-container>
  }

  <clr-toggle-container>
    <clr-toggle-wrapper>
      <input
        type="checkbox"
        clrToggle
        name="in_catalog"
        formControlName="in_catalog"
      />
      <label>View in Catalog</label>
    </clr-toggle-wrapper>
    <clr-control-helper
      >Whether the course is shown in the collection of 'explore other courses'.
      <clr-signpost>
        <clr-signpost-content *clrIfOpen>
          <h3>Explore other courses</h3>
          <p>
            The explore other courses section shows the user additional courses,
            that are not part of the current scheduled Event. The user can see
            the scenarios and course description, but can not start any of the
            scenarios. It is meant to be a good way to advertise for further
            content that is available on the platform.
          </p>
        </clr-signpost-content>
      </clr-signpost>
    </clr-control-helper>
  </clr-toggle-container>

  <clr-toggle-container>
    <clr-toggle-wrapper>
      <input
        type="checkbox"
        clrToggle
        name="pauseable"
        formControlName="pauseable"
      />
      <label>Pauseable</label>
    </clr-toggle-wrapper>
    <clr-control-helper
      >Whether the user can pause the course.</clr-control-helper
    >
  </clr-toggle-container>
  <clr-toggle-container>
    <clr-toggle-wrapper>
      <input
        type="checkbox"
        clrToggle
        name="keep_vm"
        formControlName="keep_vm"
      />
      <label>Keep VM</label>
    </clr-toggle-wrapper>
    <clr-control-helper
      >Whether VMs should be kept for the whole course or destroyed after each
      scenario.</clr-control-helper
    >
  </clr-toggle-container>
  @if (courseDetails.value.pauseable) {
    <clr-input-container>
      <label>Pause Duration</label>
      <input
        clrInput
        type="number"
        name="pause_duration"
        placeholder="Duration in hours"
        formControlName="pause_duration"
        required
      />
      <clr-control-helper
        >Period in hours that a user may pause their course.</clr-control-helper
      >
      <clr-control-error *clrIfError="'required'"
        >Pause duration is required.</clr-control-error
      >
      <clr-control-error *clrIfError="'min'"
        >Pause duration must be 1 hour minimum.</clr-control-error
      >
      <clr-control-error *clrIfError="'max'"
        >Pause duration must be 48 hours maximum.</clr-control-error
      >
    </clr-input-container>
  }
</form>
