<clr-alert
  [clrAlertType]="'warning'"
  [(clrAlertClosed)]="!scenarioTainted"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      Scenario has been modified. Save your changes.
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert
  [clrAlertType]="'danger'"
  [(clrAlertClosed)]="scenarioDangerClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ scenarioDangerAlert }}
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert
  [clrAlertType]="'success'"
  [(clrAlertClosed)]="scenarioSuccessClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ scenarioSuccessAlert }}
    </span>
  </clr-alert-item>
</clr-alert>
<h3>Scenarios</h3>
<div class="clr-row">
  <div class="clr-col">
    <button
      class="btn btn-success"
      (click)="openScenario()"
      *rbac="['scenarios.create']"
    >
      <clr-icon shape="plus"></clr-icon> New Scenario
    </button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <filter-scenarios
      #scenarioFilter
      (filterScenarioEventEmitter)="setScenarioList($event)"
    ></filter-scenarios>
    <clr-datagrid
      (clrDgSingleSelectedChange)="editScenario($event)"
      [clrDisableSelection]="!selectRbac"
    >
      <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="ascSort"
        >Name</clr-dg-column
      >
      <clr-dg-row *clrDgItems="let s of filteredScenarios" [clrDgItem]="s">
        <clr-dg-action-overflow>
          <button class="action-item" (click)="editSelectedScenario(s)">
            Edit
          </button>
          <button class="action-item" (click)="openDeleteScenario(s)">
            Delete
          </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{ s.id }}</clr-dg-cell>
        <clr-dg-cell>{{ s.name }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>

<scenario-wizard
  #scenariowizard
  [wizardScenario]="'create'"
  (refreshFilteredScenarios)="reloadScenario()"
></scenario-wizard>
<scenario-wizard
  #editselectedscenariowizard
  [wizardScenario]="'edit'"
  [draggedScenario]="selectedscenario"
  (refreshFilteredScenarios)="reloadScenario()"
></scenario-wizard>
