<clr-alert
  [clrAlertType]="'warning'"
  [(clrAlertClosed)]="!scenarioTainted"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      Scenario has been modified. Save your changes.
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert
  [clrAlertType]="'danger'"
  [(clrAlertClosed)]="scenarioDangerClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ scenarioDangerAlert }}
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert
  [clrAlertType]="'success'"
  [(clrAlertClosed)]="scenarioSuccessClosed"
  [clrAlertClosable]="false"
>
  <clr-alert-item>
    <span class="alert-text">
      {{ scenarioSuccessAlert }}
    </span>
  </clr-alert-item>
</clr-alert>
<h3>Scenarios</h3>
<div class="clr-row">
  <div class="clr-col">
    <button
      class="btn btn-success"
      (click)="openScenario()"
      *rbac="['scenarios.create']"
    >
      <clr-icon shape="plus"></clr-icon> New Scenario
    </button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col">
    <filter-scenarios
      #scenarioFilter
      (filterScenarioEventEmitter)="setScenarioList($event)"
    ></filter-scenarios>
    <clr-datagrid
      (clrDgSingleSelectedChange)="editScenario($event)"
      [clrDisableSelection]="!selectRbac"
    >
      <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="ascSort"
        >Name</clr-dg-column
      >
      <clr-dg-row *clrDgItems="let s of filteredScenarios" [clrDgItem]="s">
        <clr-dg-action-overflow *ngIf="showActionOverflow">
          <button
            class="action-item"
            (click)="editSelectedScenario(s)"
            *rbac="['scenarios.get', 'scenarios.update']; op: 'AND'"
          >
            Edit
          </button>
          <button
            class="action-item"
            (click)="openDeleteScenario(s)"
            *rbac="['scenarios.delete']"
          >
            Delete
          </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{ s.id }}</clr-dg-cell>
        <clr-dg-cell>{{ s.name }}</clr-dg-cell>
        <scenario-detail
          *clrIfExpanded
          [scenario]="s"
          ngProjectAs="clr-dg-row-detail"
          (emitError)="alertDangerScenarioDetails($event)"
        ></scenario-detail>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>

<scenario-wizard
  #scenariowizard
  [wizardScenario]="'create'"
  (refreshFilteredScenarios)="reloadScenario($event)"
></scenario-wizard>
<scenario-wizard
  #editselectedscenariowizard
  [wizardScenario]="'edit'"
  [draggedScenario]="selectedscenario"
  (refreshFilteredScenarios)="reloadScenario($event)"
></scenario-wizard>
<clr-modal #deletescenariomodal [(clrModalOpen)]="deleteScenarioSetOpen">
  <h3 class="modal-title">Delete Scenario</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this scenario?</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-success-outline"
      (click)="deleteScenarioSetOpen = false"
    >
      Cancel
    </button>
    <button
      class="btn btn-danger"
      (click)="doDeleteScenario()"
      *rbac="['scenarios.update']"
    >
      Delete
    </button>
  </div>
</clr-modal>
