<button
  class="btn btn-table btn-link"
  (click)="selectVMServiceModalOpen = true"
>
  <clr-icon shape="plus"></clr-icon> Add predefined Service
</button>
<button class="btn btn-table btn-link" (click)="openNewVMServiceModal()">
  <clr-icon shape="plus"></clr-icon> Add new Service
</button>
<table class="table table-compact">
  <th>Name</th>
  <th>Port</th>
  <th>Tab</th>
  <th>Edit</th>
  <th>Delete</th>
  <tbody>
    <tr *ngFor="let interface of cloudConfig.vmServices | keyvalue">
      <td>{{ interface.value.name }}</td>
      <td>{{ interface.value.port }}</td>
      <td>{{ interface.value.hasOwnTab }}</td>
      <td>
        <button
          class="btn btn-table btn-link"
          (click)="editVMServiceClicked(interface.value)"
        >
          EDIT
        </button>
      </td>
      <td>
        <button
          class="btn btn-table btn-link"
          (click)="cloudConfig.removeVMService(interface.key)"
        >
          DELETE
        </button>
      </td>
    </tr>
  </tbody>
</table>

<clr-modal [(clrModalOpen)]="selectVMServiceModalOpen" [clrModalSize]="'sm'">
  <h3 class="modal-title">Choose a Service</h3>
  <div class="modal-body">
    <select clrSelect [(ngModel)]="selectedNewInterface">
      <option
        *ngFor="let interface of predefinedInterfaces"
        [ngValue]="interface"
      >
        {{ interface.name }}
      </option>
    </select>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="selectVMServiceModalOpen = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="selectModalClose()">
      Ok
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="newVMServiceModalOpen">
  <h3 class="modal-title">Create a new Sevice</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="newVMServiceFormGroup">
      <clr-input-container>
        <label>Name</label>
        <input
          clrInput
          placeholder="Webserver"
          name="name"
          formControlName="name"
        />
      </clr-input-container>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input
            type="checkbox"
            clrCheckbox
            value="hasWebinterface"
            name="hasWebinterface"
            formControlName="hasWebinterface"
            required
          />
          <label>Has a Webinterface</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <ng-container *ngIf="newVMServiceFormGroup.value['hasWebinterface']">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input
              type="checkbox"
              clrCheckbox
              value="hasOwnTab"
              name="hasOwnTab"
              formControlName="hasOwnTab"
            />
            <label>Has it's own Tab in the UI</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <clr-input-container>
          <label>Port</label>
          <input
            type="number"
            clrInput
            placeholder="80"
            name="input"
            formControlName="port"
          />
        </clr-input-container>
        <clr-input-container>
          <label>Path</label>
          <input
            type="text"
            clrInput
            placeholder="/dashboard"
            name="input"
            formControlName="path"
          />
        </clr-input-container>
      </ng-container>
      <textarea
        clrTextarea
        style="width: 100%; height: 30vh; padding: 0"
        name="cloudConfigString"
        formControlName="cloudConfigString"
        required
      ></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="newVMServiceModalOpen = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="newVMServiceClose()">
      Ok
    </button>
  </div>
</clr-modal>
