<form
  clrForm
  [formGroup]="taskForm"
  clrLayout="horizontal"
  style="margin-left: 1rem"
>
  <clr-select-container>
    <label>Node</label>
    <select clrSelect name="taskNode" formControlName="taskNode">
      @for (name of virtualMachineNames; track name) {
        <option [value]="name">
          {{ name }}
        </option>
      }
    </select>
  </clr-select-container>
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="taskName" required />
    <clr-control-error *clrIfError="'required'"
      >Task name is required</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Description</label>
    <input clrInput type="text" formControlName="taskDescription" required />
    <clr-control-error *clrIfError="'required'"
      >Task Description is required</clr-control-error
    >
  </clr-input-container>

  <clr-control-container class="codeInput">
    <label>Command</label>
    <app-code-with-syntax-highlighting
      [language]="supportedLanguages.BASH"
      [height]="'2rem'"
      [width]="'90%'"
      [outline]="'none'"
      [textValue]="editTask.command"
      (textChanged)="commandOutput($event)"
    ></app-code-with-syntax-highlighting>
  </clr-control-container>

  <clr-select-container>
    <label>Return Type</label>
    <select
      clrSelect
      name="taskReturnType"
      formControlName="taskReturnType"
      required
    >
      @for (returnType of returnTypes; track returnType) {
        <option value="{{ returnType }}">
          {{ returnType }}
        </option>
      }
    </select>
    <clr-control-helper
      >Depending on the Return Type, the verification either checks for the
      return code, plain text response from the system or matches that response
      with a given regular expression.</clr-control-helper
    >
    <clr-control-error *clrIfError="'required'"
      >Return Type is required</clr-control-error
    >
  </clr-select-container>

  @if (isOfReturnType(["Return Text", "Return Code and Text"])) {
    <clr-textarea-container>
      <label>Expected Output</label>
      <textarea
        clrTextarea
        type="text"
        formControlName="taskExpectedOutput"
        required
      ></textarea>
      <clr-control-error *clrIfError="'required'"
        >Expected Output is required</clr-control-error
      >
    </clr-textarea-container>

  } @else if (isOfReturnType(["Match Regex"])) {
    <clr-control-container class="codeInput">
      <label>Regex to match</label>
      <app-code-with-syntax-highlighting
        [language]="supportedLanguages.REGEX"
        [height]="'2rem'"
        [width]="'90%'"
        [outline]="'none'"
        [textValue]="taskForm.controls.taskExpectedOutput.value"
        (textChanged)="regexOutput($event)"
      ></app-code-with-syntax-highlighting>
      <clr-control-error *clrIfError="'required'"
        >Expected Output is required</clr-control-error
      >
    </clr-control-container>
  }

  @if (isOfReturnType(["Return Code", "Return Code and Text"])) {
    <clr-input-container>
      <label>Expected Returncode</label>
      <input
        clrInput
        type="number"
        formControlName="taskExpectedReurncode"
        required
      />
      <clr-control-error *clrIfError="'required'"
        >Expected Returncode is required</clr-control-error
      >
    </clr-input-container>
  }
  <p></p>
</form>
