name: Main
on: [push, pull_request]

env:
  app_image: hobbyfarm/admin-ui

  should_push_image: |-
    ${{
      github.event_name == 'push' && (
        github.ref_type == 'tag' ||
        github.ref_name == 'master'
      )
    }}

  should_tag_latest: |-
    ${{
      github.event_name == 'push' &&
      github.ref_type == 'tag'
    }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup node_modules cache
      id: cache-nodemodules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        path: node_modules
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}

    - name: Install deps
      run: npm install

    - name: Build
      run: npm run build:prod

    - name: Build
      run: |
        docker build -f cicd/Dockerfile -t $app_image:${GIT_COMMIT_SHORT_HASH:-dev} .

    - name: Docker Login
      if: fromJSON(env.should_push_image)
      run: |
        echo "${{ secrets.REGISTRY_PASSWORD }}" \
          | docker login -u "${{ secrets.REGISTRY_USER }}" --password-stdin

    - name: Docker Push
      if: fromJSON(env.should_push_image)
      run: |
        safe_ref=$(echo "${{ github.ref_name }}" | sed -e 's/[^a-zA-Z0-9\-\.]/-/g')
        publish_tag=$app_image:$safe_ref
        
        docker tag $app_image:${GIT_COMMIT_SHORT_HASH:-dev} $publish_tag
        docker push $publish_tag

    - name: Docker Push Latest
      if: fromJSON(env.should_tag_latest)
      run: docker push $app_image:latest
